<section class="hero">

    <div class="hero-content">

        <h1> How May we Help You? </h1>
        <input type="search" id="search-input" placeholder="Search for Solution">


    </div>

</section>



<div style="padding: 10px;">

    <ul class="nav nav-tabs button-container" role="tablist">
        <li role="presentation">
            <a class=" active button-link" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab"
                aria-controls="simple-tabpanel-0" aria-selected="true">learner</a>
        </li>
        <li role="presentation">
            <a class=" button-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab"
                aria-controls="simple-tabpanel-1" aria-selected="false">Instructor</a>
        </li>

    </ul>
    <div class="tab-content pt-5" id="tab-content">
        <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">


            <table class="custom-table">
                <tr>
                    <td style="font-weight: bold;font-size: 30px;">Frequently Asked Questions
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rectangle">
                            <p> Refund Status: Common Questions</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                Payment Methods on Udemy</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                Lifetime Access</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rectangle">
                            <p> How to Find Your Missing Course</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p> How to Download Your Certificate of Completion (on a Browser)</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p> How to Refund a Course</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rectangle">
                            <p>Downloading Course Resources</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                Learning With Udemy: Frequently Asked Questions</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                Troubleshooting Payment Failures</p>
                        </div>
                    </td>
                </tr>
            </table>





            <table class="custom-table2">
                <tr>
                    <td style="font-weight: bold;font-size: 30px;" colspan="2">Select a Topic to Search for Help

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="square">
                            <img src="\assets\support\1.jpeg">
                            <h4>Getting Started </h4>

                            <p>Learn how Udemy works and how to start learning.
                                Refund Status: Common Questions</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\2.jpeg">
                            <h4>Account/Profile</h4>

                            <p> Manage your account settings.
                            </p>

                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\3.jpeg">
                            <h4>
                                Troubleshooting</h4>

                            <p> Experiencing a technical issue? Check here.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="square">
                            <img src="\assets\support\4.jpeg">
                            <h4>Learning Experience </h4>

                            <p>Everything about the Udemy learning experience.</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\5.jpeg">
                            <h4>Purchase/Refunds </h4>

                            <p>Learn about purchasing courses, how to send gifts, and refunds.</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\6.jpeg">
                            <h4>Mobile </h4>

                            <p>On the go? Learn about our mobile app.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="square">
                            <img src="\assets\support\7.jpeg">
                            <h4>Trust & Safety </h4>

                            <p>Trust & Safety information and reporting.</p>
                        </div>
                    </td>


                </tr>
            </table>


        </div>
        <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">


            <table class="custom-table">
                <tr>
                    <td style="font-weight: bold;font-size: 30px;">Frequently Asked Questions
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rectangle">
                            <p> Udemy Course Quality Checklist</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                How to Become a Premium Instructor</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p>
                                Promote Your Course With Coupons and Referral Links</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rectangle">
                            <p> Instructor Revenue Share</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p> Instructor Promotional Agreements and Udemy Deals</p>
                        </div>
                    </td>
                    <td>
                        <div class="rectangle">
                            <p> Teaching on Udemy: Frequently Asked Questions</p>
                        </div>
                    </td>
                </tr>

            </table>





            <table class="custom-table2">
                <tr>
                    <td style="font-weight: bold;font-size: 30px;" colspan="2">Select a Topic to Search for Help

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="square">
                            <img src="\assets\support\8.jpeg">
                            <h4>Instructor Payments </h4>

                            <p>Understand the revenue share and how to receive payments.</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\9.jpeg">
                            <h4>Selling & Promotion</h4>

                            <p> Learn about the announcement and promotional tools.
                            </p>

                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\10.jpeg">
                            <h4>
                                Quality Standards</h4>

                            <p>Learn what it takes to create a high quality course.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="square">
                            <img src="\assets\support\11.jpeg">
                            <h4>Course Building </h4>

                            <p>Build your course curriculum and landing page.</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\12.jpeg">
                            <h4>Course Management </h4>

                            <p>Maintain your course and engage with students.</p>
                        </div>
                    </td>
                    <td>
                        <div class="square">
                            <img src="\assets\support\13.jpeg">
                            <h4>Trust & Safety </h4>

                            <p>Policy and copyright questions and guidance.</p>
                        </div>
                    </td>
                </tr>

            </table>

            <section class="ttable">
                <table>
                    <tr>
                        <td> <img src="\assets\support\k.png"></td>
                        <td class="one">
                            <h3>Teaching Center</h3>
                            <p> Visit the Teaching Center for community updates and the latest course creation and
                                promotion resources. </p>
                        </td>
                    </tr>
                </table>


            </section>

        </div>


    </div>