<!-- <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search course">
    
    <div class="total" *ngFor="let course of courses">
        <div>
            <img src="https://i.pinimg.com/564x/79/2a/80/792a808b9b5caae17aa382fc080c469d.jpg">
        </div>
        <div class="two">
        <h4>{{ course.name }}</h4>
        <p>{{ course.disc }}</p>
        <p> {{ course.instructor }}</p>
      
        
        <p>{{course.totalHour}} total Hour {{ course.totallectuer }} Lecture </p>
        <div [ngStyle]="{'width.px': '70', 'height.px': '40', 'border': '1px solid','font-weight': 'bold'
        , 'text-align': 'center','line-height.px': '20',
         'background-color': course.Status === 'New' ? 'orange' : course.Status === 'Highest rated' ? 'red' : ''}">
            {{ course.Status }}
          </div>
       
      </div>
      <hr>
    </div>


 

  <input type="text" [(ngModel)]="query" (input)="search(query)" placeholder="Search...">
 <div *ngFor="let result of results">
   {{ result.name }} 
 </div> -->