<!-- <div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search course">
    
    <div class="total" *ngFor="let course of courses">
        <div>
            <img src="https://i.pinimg.com/564x/79/2a/80/792a808b9b5caae17aa382fc080c469d.jpg">
        </div>
        <div class="two">
        <h4>{{ course.name }}</h4>
        <p>{{ course.disc }}</p>
        <p> {{ course.instructor }}</p>
      
        
        <p>{{course.totalHour}} total Hour {{ course.totallectuer }} Lecture </p>
        <div [ngStyle]="{'width.px': '70', 'height.px': '40', 'border': '1px solid','font-weight': 'bold'
        , 'text-align': 'center','line-height.px': '20',
         'background-color': course.Status === 'New' ? 'orange' : course.Status === 'Highest rated' ? 'red' : ''}">
            {{ course.Status }}
          </div>
       
      </div>
      <hr>
    </div>


 

  <input type="text" [(ngModel)]="query" (input)="search(query)" placeholder="Search...">
 <div *ngFor="let result of results">
   {{ result.name }} 
 </div> -->


 <input  (click)="ngOnChanges"
 type="text"
 id="search-bar"
 placeholder="Search for anything"
/>

<!-- found -->
<section class="found" *ngIf="results.length > 0" style="margin-left: 100px;">

  <h1> results</h1>

  <section class="fsort">
    <div class="filter"><i class="fa-solid fa-bars"></i> Filter </div>
    <div class="sdd">
      <div>
        <p style="font-size: 5px;margin-bottom: 0px;">Sort by</p>
        <select id="ssdropdown">
          <option value="option1"> Relevant</option>
          <option value="option2" selected> Most Reviewed</option>
          <option value="option3"> Most High</option>
          <option value="option4"> Newest</option>
        </select>

      </div>
    </div>
  </section>

  <div class="ls">
  <div class="dropdown">
    <div id="accordion" style="width: 60%; margin-top: 30px;">
      <hr>

      <div class=" card">
        <div>
          <h5 style="display: flex;">
            <button (click)="toggleCollapse('collapseOne')" [attr.aria-expanded]="isExpanded('collapseOne')"
              aria-controls="collapseOne">
              Ratings </button>
            <!-- <h6>4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="collapseOne" [ngClass]="{ 'collapse': !isExpanded('collapseOne'), 'show': isExpanded('collapseOne') }"
          aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="radio-container">
              <input type="radio" id="radio1" name="radio-group" checked>
              <label for="radio1"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star-half-stroke"></i> 4.5 & up</label>
            </div>

            <div class="radio-container">
              <input type="radio" id="radio2" name="radio-group">
              <label for="radio2"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> 4.0 &
                up</label>
            </div>


            <div class="radio-container">
              <input type="radio" id="radio3" name="radio-group">
              <label for="radio3"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i
                  class="fa-regular fa-star"></i> 3.5 & up</label>
            </div>
            <div class="radio-container">
              <input type="radio" id="radio3" name="radio-group">
              <label for="radio4"><i class=" fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>3.0 &
                up</label>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat for other accordion items -->
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapsetwo')" [attr.aria-expanded]="isExpanded('collapseTwo')"
              aria-controls="collapseTwo">
              language </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="collapseTwo" [ngClass]="{ 'collapse': !isExpanded('collapsetwo'), 'show': isExpanded('collapseTwo') }"
          aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">English</label><br>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapsethree')" [attr.aria-expanded]="isExpanded('headingThree')"
              aria-controls="collapseThree">
              Video Duration </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="headingThree"
          [ngClass]="{ 'collapse': !isExpanded('collapsethree'), 'show': isExpanded('headingThree') }"
          aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">0-1 Hour</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">1-3 Hours</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">3-6 Hours </label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">6-17 Hours </label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">17+ Hours</label><br>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapsefour')" [attr.aria-expanded]="isExpanded('headingFour')"
              aria-controls="collapseFour">
              Features
            </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="headingFour" [ngClass]="{ 'collapse': !isExpanded('collapsefour'), 'show': isExpanded('headingFour') }"
          aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Subtitles</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Quizzes</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Coding Exercises</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Practice Tests</label><br>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapsef')" [attr.aria-expanded]="isExpanded('headingFive')"
              aria-controls="collapseFive">
              Topic </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="headingFive" [ngClass]="{ 'collapse': !isExpanded('collapsef'), 'show': isExpanded('headingFive') }"
          aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Assembly language</label><br>

          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapsesix')" [attr.aria-expanded]="isExpanded('headingSix')"
              aria-controls="collapseFive">
              level </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="headingSix" [ngClass]="{ 'collapse': !isExpanded('collapsesix'), 'show': isExpanded('headingSix') }"
          aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Expert</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">All Levels</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Beginner</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">intermediate </label><br>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapseseven')" [attr.aria-expanded]="isExpanded('collapseSeven')"
              aria-controls="collapseSeven">
              Subtitles </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="headingSeven"
          [ngClass]="{ 'collapse': !isExpanded('collapseseven'), 'show': isExpanded('collapseSeven') }"
          aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">English</label><br>
          </div>
        </div>
      </div>

      <hr>
      <div class="card">
        <div>
          <h5>
            <button (click)="toggleCollapse('collapse9')" [attr.aria-expanded]="isExpanded('collapse9')"
              aria-controls="collapse9">
              Price </button>
            <!-- <h6 class="h6">4lectures .21min</h6> -->
          </h5>
        </div>
        <div id="collapse9" [ngClass]="{ 'collapse': !isExpanded('collapse9'), 'show': isExpanded('collapse9') }"
          aria-labelledby="heading9" data-parent="#accordion">
          <div class="card-body">

            <input type="checkbox">
            <label for="checkbox" class="checkbox-label">Paid</label><br>
            <input type="checkbox">
            <label for="checkbox" class="checkbox-label"> free</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lastslider">
    <div class="total" *ngFor="let course of results">
      <div>
          <img src="https://i.pinimg.com/564x/79/2a/80/792a808b9b5caae17aa382fc080c469d.jpg">
      </div>
      <div class="two">
      <h4>{{ course.name }}</h4>
      <p>{{ course.body }}</p>
      <p> {{ course.instructor }}</p>
      <div class="star-ratings-css">
          <div class="star-ratings" [style.width]="(course.rating / 5) * 100 + '%'">
              <span><b>{{ course.rating }} </b> </span>
      @for(star of getStarArray(course.rating);track $index){
      <span>
          <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
      </span> 
  }</div>
      </div>
      
      <p>{{course.totalHour}} total Hour {{ course.totallectuer }} Lecture </p>
      <div [ngStyle]="{'width.px': '70', 'height.px': '40', 'border': '1px solid','font-weight': 'bold'
      , 'text-align': 'center','line-height.px': '20',
       'background-color': course.Status === 'New' ? 'orange' : course.Status === 'Highest rated' ? 'red' : ''}">
          {{ course.Status }}
        </div>
     
    </div>
    <hr>
  </div>
  <hr>
  


</div>

  </div>
</section>


<ng-template #notFoundSection>

  <!-- not found -->
  <section  class="notfound" *ngIf="results.length == 0" style="margin-left: 100px;">

  <h3>Sorry, we couldn't find any results</h3>
  <h5>Try adjusting your search. Here are some ideas:</h5>
  <ul>
    <li>Make sure all words are spelled correctly</li>
    <li>Try different search terms</li>
    <li> Try more general search terms</li>
  </ul>

</section>
</ng-template>
