
<div id="page_1">
  <div class="sticky_sidebar">
    <div id="sticky-br">
      <video controls>
        <source src="your_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    
      <h1 style="font-size: 40px">₹4,480</h1>
      <button
        id="add_to_cart"
        style="
          width: 100%;
          height: 50px;
          margin: 1%;
          color: #fff;
          font-size: 1.2rem;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 700;
        "
        class="cartBtn"
      >
        <b id="showAddtoCart">Add to cart</b>
        <b id="showAddedtoCart"></b></button
      ><br />
      <button  onclick="cartPage()"
        style="width: 100%; height: 50px; margin: 1%; font-size: 18px"
      >
        <b>Buy now</b>
      </button>
      <p
        style="
          text-align: center;
          margin-top: 2%;
          font-family: sf pro text, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 400;
          color: #1c1d1f;
          font-size: 0.8rem;
        "
      >
        30-days Money-back Guarantee
      </p>
      <h3
        style="
          margin-top: 4%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 700;
        "
      >
        This course includes:
      </h3>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        22 hours on-demand video
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        14 articles
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        19 coding excercises
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        Full lifetime access
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        Access on mobile and Tv
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        certificate of completion
      </p>
      <h3 style="margin-top: 5%; text-align: center">
        <a
          style="
            color: black;
            font-family: sf pro display, -apple-system, BlinkMacSystemFont,
              Roboto, segoe ui, Helvetica, Arial, sans-serif,
              apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 700;
            font-size: 0.8rem;
          "
          href=""
          >Apply Coupon</a
        >
      </h3>
      <hr style="margin-top: 10%" />
      <br>
    </div>
  </div>


  <!-- <div id="container">
    <div id="video">

      <video controls>
        <source src="your_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div id="content">

      <p>هنا محتوى الصفحة الذي تريد أن يظل ثابتًا عند التمرير.</p>
    </div>
  </div> -->

















  <br />
  <div class="page_2">
    <div class="ni">
    <div id="source_head">
      <p><b>Development &nbsp; ></b></p>
      <p><b>Programming &nbsp;></b></p>
      <p><b>Python</b></p>
    </div>
    <h1 class="course">2021 Complete Python Bootcamp From Zero to Hero in Python</h1>
    <p>
      Learn Python like a Professional Start from the basics and go all the
      way to creating your own applications and games
    </p>
    <div id="course_rating">
      <button><b>Bestseller</b></button>
      <p>4.6⭐⭐⭐⭐⭐</p>
      <p><a href="#">(367,223 ratings)</a></p>
      <p>1,334,400 students</p>
    </div>
    <p id="course_teach">created by <a href="#">jose potilla</a></p>
    <div id="course_timing">
      <p>⏳ last update 3/2021</p>
      <p>🌐 English</p>
      <p>© English[Auto], french[Auto], 5more</p>
    </div>
    <div class="button_1">
      <button><b>Wishlist ❤</b></button>
      <button style="width: 11%"><b>Share</b></button>
      <!-- <button style="width: 19%"><b>Gift this course</b></button> -->
    </div>
    </div>
  </div>
</div>
<!-- </div> -->




<div id="learn_1">
  <h1>What you'll learn</h1>
  <div class="learn_2">
    <ul>
      <li>
        <p>✓</p>
        <p>
          to use Python professionally, learning both Python 2 and Python 3!
        </p>
      </li>
      <li>
        <p>✓</p>
        <p>
          Learn advanced Python features, like the collections module and
          how to work with timestamps!
        </p>
      </li>
      <li>
        <p>✓</p>
        <p>Understand complex topics, like decorators.</p>
      </li>
      <li>
        <p>✓</p>
        <p>
          Get an understanding of how to create GUIs in the Jupyter Notebook
          system!
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <p>✓</p>
        <p>Create games with Python, like Tic Tac Toe and Blackjack!</p>
      </li>
      <li>
        <p>✓</p>
        <p>Learn to use Object Oriented Programming with classes!</p>
      </li>
      <li>
        <p>✓</p>
        <p>
          Understand how to use both the Jupyter Notebook and create .py
          files
        </p>
      </li>
      <li>
        <p>✓</p>
        <p>Build a complete understanding of Python from the ground up!</p>
      </li>
    </ul>
  </div>
</div>

<br />
<br />
<div class="img">
  <img src="\assets\support\d.jpeg" style="width: 57%;"/>
</div>

<h1 id="content_head">Course content</h1>
<div class="content_down">
  <p style="margin-bottom: 20px;">.23 sections .155 lectures .22h 13m total length</p>
  <h3 style="font-size: large; margin-left: 90px;"><a href="" style="text-decoration-line: none;">Expand all sections</a></h3>
</div>


<div>
  <app-course-section></app-course-section>
</div>









<br />
<h1 id="con-head" style="margin-left: 10%; margin-top: 2%">Requirements</h1>
<li id="con-con" style="margin-left: 10%; margin-top: 1%">
  Access to a computer with an internet connection.
</li>
<li id="con-con" style="margin-left: 10%; margin-top: 1%">
  Access to a computer with an internet connection.
</li>
<li id="con-con" style="margin-left: 10%; margin-top: 1%">
  Access to a computer with an internet connection.
</li>
<br />
<br />

<div>
  <h1
    style="
      margin-left: 10%;
      margin-top: 2%;
      font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 700;
    "
  >
    Description
  </h1>
  <div id="more">
    <p>
      <b
        >Become a Python Programmer and learn one of employer's most
        requested skills of 2021!</b
      >
    </p>
    <br />
    <p>
      This is the
      <b
        >most comprehensive, yet straight-forward, course for the Python
        programming language on Udemy!</b
      >
      Whether you have never programmed before, already know basic syntax,
      or want to learn about the advanced features of Python, this course is
      for you! In this course we will<b> teach you Python 3.</b>
    </p>
    <br />
    <p>
      With <b>over 100 lectures</b> and more than 21 hours of video this
      comprehensive course leaves no stone unturned! This course includes
      quizzes, tests, coding exercises and homework assignments as well as 3
      major projects to create a Python project portfolio!
    </p>

    <span id="dots"></span>
    <div id="more_1">
      <p>
        <b
          >Learn how to use Python for real-world tasks, such as working
          with PDF Files, sending emails, reading Excel files, Scraping
          websites for informations, working with image files, and much
          more!</b
        >
      </p>
      <br />
      <p>
        This course will teach you Python in a practical manner, with every
        lecture comes a full coding screencast and a corresponding code
        notebook! Learn in whatever manner is best for you!
      </p>
      <br />
      <p>
        We will start by helping you get Python installed on your computer,
        regardless of your operating system, whether its Linux, MacOS, or
        Windows, we've got you covered.
      </p>
      <br />
      <p>We cover a wide variety of topics, including:</p>
      <ul>
        <li>Command Line Basics</li>
        <li>Installing Python</li>
        <li>Running Python Code</li>
        <li>Strings</li>
        <li>Lists</li>
        <li>Dictionaries</li>
        <li>Tuples</li>
        <li>Number Data Types</li>
        <li>Print Formatting</li>
        <li>Functions</li>
        <li>Scope</li>
      </ul>
    </div>
    <button
      onclick="show_more()"
      id="btn"
      style="
        color: #5624d0;
        border: transparent;
        font-size: 15px;
        margin-top: 2%;
        background-color: transparent;
        font-family: sf pro display, -apple-system, BlinkMacSystemFont,
          Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
          segoe ui emoji, segoe ui symbol;
        font-weight: 700;
      "
    >
      Show more
    </button>
  </div>
</div>
<br />
<div class="Featured">
  <h1>Featured review</h1>
  <br />
  <div style="display: flex; gap: 1%">
    <img
      style="width: 15%; border-radius: 50%"
      src="https://img-c.udemycdn.com/user/200_H/101610246_6b5d_3.jpg"
      alt=""
    />
    <div id="review_profile">
      <p style="margin-top: 5%; font-size: 1.4rem; font-weight: 700">
        <b>Ken k.</b>
      </p>
      <p style="margin-top: 5%; font-size: 1rem; font-weight: 400">
        9 courses
      </p>
      <p style="margin-top: 5%; font-size: 1rem; font-weight: 400">
        2 reviews
      </p>
    </div>
  </div>
  <p
    style="
      margin-top: 2%;
      font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
      color: #6a6f73;
    "
  >
    ⭐⭐⭐⭐⭐ 9 months ago
  </p>
  <p
    style="
      margin-top: 2%;
      font-size: 1rem;
      font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
    "
  >
    Everything on this course is a goldmine except for the GUI since it's
    specific for Jupyter Notebooks and it's missing the video for GUI
    Events. Still it was a nice introduction to GUI. Don't let that
    disappoint you though. THIS IS A MUST HAVE COURSE. I have already
    recommended it to few people and always will. Do yourself a favor and do
    this course if you want to learn Python 3. Thank you so much for this
    course, Jose-sensei!!
  </p>
  <br />
  <p
    style="
      margin-top: 2%;
      font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
    "
  >
    Was this review helpful?
  </p>
  <p style="margin-top: 2%">👍🏻 👎🏻 <a href="">Report</a></p>
</div>

<div>
  <app-course-content></app-course-content>
</div>


<div class="big">
  <h2 style="margin-bottom: 10px;">Instructor</h2>
  <a href="">Jonas Schmedtmann</a>
  <h5>Web Developer, Designer, and Teacher</h5>
  <div class="ins">
    <div >
      <img class="left" src="\assets\support\7799204_2091_5.jpg"/>
    </div>
    <div class="r">
      <p class="pa"><i class="fa-solid fa-star"></i>{{instructor.rating}}</p>
      <p class="pa"><i class="fa-solid fa-award"></i>{{instructor.review}} </p>
      <p class="pa"><i class="fa-solid fa-users"></i>{{instructor.numstudent}}</p>
      <p class="pa"><i class="fa-brands fa-youtube"></i>{{instructor.numcourse}} </p>
    </div>
  </div>
  <div class="und">
    <p>
      Hi, I'm Jonas! I'm one of Udemy's Top Instructors and all my premium courses have earned the best-selling status <b></b>for outstanding performance and student satisfaction.

<b></b>I'm a full-stack web developer and designer with a passion for building beautiful web interfaces from scratch.<b></b> I've been building websites and apps since 2010 and also have a Master's degree in Engineering.

I discovered my passion for teaching and helping others by sharing everything I knew during college. This passion led me to Udemy in 2015, where I now have the privilege of training 1,500,000+ learners in the field of web development.
    </p>
  </div>
</div>
