
<div id="page_1">
  <div class="sticky_sidebar">
    <div id="sticky-br">
      <video controls style="width: 300px;height: 150px;">
        <source src={{video.videoUrl}} type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <h1 style="font-size: 40px">₹{{video.price}}</h1>
      <button
        id="add_to_cart"
        style="
          width: 100%;
          height: 50px;
          margin: 1%;
          color: #fff;
          font-size: 1.2rem;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 700;
        "
        class="cartBtn"
      >
        <b id="showAddtoCart">Add to cart</b>
        <b id="showAddedtoCart"></b></button
      ><br />
      <button  (click)="onAddToCartClick()"
        style="width: 100%; height: 50px; margin: 1%; font-size: 18px"
      >
        <b>Buy now</b>
      </button>
      <p
        style="
          text-align: center;
          margin-top: 2%;
          font-family: sf pro text, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 400;
          color: #1c1d1f;
          font-size: 0.8rem;
        "
      >
        30-days Money-back Guarantee
      </p>
      <h3
        style="
          margin-top: 4%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
          font-weight: 700;
        "
      >
        This course includes:
      </h3>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        {{total.totalhours}} hours on-demand video
      </p>
      <!-- <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        19 coding excercises
      </p> -->
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        Full lifetime access
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        Access on mobile and Tv
      </p>
      <p
        style="
          margin-top: 3%;
          font-family: sf pro display, -apple-system, BlinkMacSystemFont,
            Roboto, segoe ui, Helvetica, Arial, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol;
        "
      >
        certificate of completion
      </p>
      <h3 style="margin-top: 5%; text-align: center">
        <!-- <a
          style="
            color: black;
            font-family: sf pro display, -apple-system, BlinkMacSystemFont,
              Roboto, segoe ui, Helvetica, Arial, sans-serif,
              apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 700;
            font-size: 0.8rem;
          "
          href=""
          >Apply Coupon</a
        > -->
      </h3>
      <hr style="margin-top: 10%" />
      <br>
    </div>
  </div>

  <br />
  <div class="page_2">
    <div class="ni">
    <div id="source_head">
      <p><b>{{top.categoryName}} &nbsp; ></b></p>
      <p><b>{{top.subcatName}} &nbsp;></b></p>
      <p><b>{{top.topicName}}</b></p>
    </div>
    <h1 class="course">{{top.courseTitle}}</h1>
    <p>{{top.courseDisc}}</p>
    <div id="course_rating">
      <button><b>Bestseller</b></button>
      <p>{{top.rating}}⭐⭐⭐⭐⭐</p>
      <p><a href="#">(367,223 ratings)</a></p>
      <p>{{top.numStudent}} students</p>
    </div>
    <p id="course_teach">created by <a href="#">{{top.instractor}}</a></p>
    <div id="course_timing">
      <p>⏳ last update {{top.LastUpdate}}</p>
      <p>🌐 English</p>
      <p>© English[Auto], french[Auto], 5more</p>
    </div>
    <div class="button_1">
      <button><b>Wishlist ❤</b></button>
      <button style="width: 11%"><b>Share</b></button>
      <!-- <button style="width: 19%"><b>Gift this course</b></button> -->
    </div>
    </div>
  </div>
</div>
<!-- </div> -->






<div id="learn_1">
  <h1>What you'll learn</h1>
    <div class="learn_2">
      <div class="left-column">
        <ul>
          @for(item of Objectives.slice(0,4); track $index){
          <li class="li">
            <p>✓</p>
            <p>
              {{item.content}}
            </p>
          </li>
          }
        </ul>
      </div>
      <div class="right-column">
        <ul>
          @for(item of Objectives.slice(3); track $index ){
          <li class="li">
            <p>✓</p>
            <p>
              {{item.content}}
            </p>
          </li>
          }
        </ul>
      </div>
    </div>
</div>


<br />
<br />
<div class="img">
  <img src="\assets\support\d.jpeg" style="width: 57%;"/>
</div>

<h1 id="content_head">Course content</h1>
<div class="content_down">
  <p style="margin-bottom: 20px;">.{{total.totalsection}} sections .{{total.totallecture}} lectures .{{total.totalhours}}h {{total.totalmin}}m total length</p>
  <h3 style="font-size: large; margin-left: 90px;"><a href="" style="text-decoration-line: none;">Expand all sections</a></h3>
</div>


<div>
  <app-course-section></app-course-section>
</div>









<br />

<h1 id="con-head" style="margin-left: 10%; margin-top: 2%">Requirements</h1>
@for(item of Requirement ; track $index){
<li id="con-con" style="margin-left: 10%; margin-top: 1%">
  {{item.content}}
</li>
}
<br />
<br />

<div>
  <h1
    style="
      margin-left: 10%;
      margin-top: 2%;
      font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 700;
    "
  >
    Description
  </h1>
  <div id="more">
    <p>
      <b
        >Become a Python Programmer and learn one of employer's most
        requested skills of 2021!</b
      >
    </p>
    <br />
    <p>
      This is the
      <b
        >most comprehensive, yet straight-forward, course for the Python
        programming language on Udemy!</b
      >
      Whether you have never programmed before, already know basic syntax,
      or want to learn about the advanced features of Python, this course is
      for you! In this course we will<b> teach you Python 3.</b>
    </p>
    <br />
    <p>
      With <b>over 100 lectures</b> and more than 21 hours of video this
      comprehensive course leaves no stone unturned! This course includes
      quizzes, tests, coding exercises and homework assignments as well as 3
      major projects to create a Python project portfolio!
    </p>
    <button
      id="btn"
      style="
        color: #5624d0;
        border: transparent;
        font-size: 15px;
        margin-top: 2%;
        background-color: transparent;
        font-family: sf pro display, -apple-system, BlinkMacSystemFont,
          Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
          segoe ui emoji, segoe ui symbol;
        font-weight: 700;
      "
    >
      Show more
    </button>
  </div>
</div>
<br />
<div class="Featured">
  <h1>Featured review</h1>
  <br />
  <div style="display: flex; gap: 1%">
    <img
      style="width: 15%; border-radius: 50%"
      src={{feature.imgReviewer}}
      alt=""
    />
    <div id="review_profile">
      <p style="margin-top: 5%; font-size: 1.4rem; font-weight: 700">
        <b>{{feature.ReviewerName}}.</b>
      </p>
      <p style="margin-top: 5%; font-size: 1rem; font-weight: 400">
        {{feature.NumberOfCourse}} courses
      </p>
      <p style="margin-top: 5%; font-size: 1rem; font-weight: 400">
        {{feature.NumberOfReview}} reviews
      </p>
    </div>
  </div>
  <p
    style="
      margin-top: 2%;
      font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
      color: #6a6f73;
    "
  >
    ⭐⭐⭐⭐⭐ {{feature.reviewDate}} months ago
  </p>
  <p
    style="
      margin-top: 2%;
      font-size: 1rem;
      font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
    "
  >
    {{feature.review}}
  </p>
  <br />
  <p
    style="
      margin-top: 2%;
      font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
        segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
      font-weight: 400;
    "
  >
    Was this review helpful?
  </p>
  <p style="margin-top: 2%">👍🏻 👎🏻 <a href="">Report</a></p>
</div>

<div>
  <app-course-content></app-course-content>
</div>


<div class="big">
  <h2 style="margin-bottom: 10px;">Instructor</h2>
  <a href="">{{instructor.instlink}}</a>
  <h5>{{instructor.instwork}}</h5>
  <div class="ins">
    <div >
      <img class="left" src={{instructor.instImg}}/>
    </div>
    <div class="r">
      <p class="pa"><i class="fa-solid fa-star"></i>{{instructor.instractorRating}}Instructor Rating</p>
      <p class="pa"><i class="fa-solid fa-award"></i>{{instructor.totalReview}}Reviews </p>
      <p class="pa"><i class="fa-solid fa-users"></i>{{instructor.numstudent}}Students</p>
      <p class="pa"><i class="fa-brands fa-youtube"></i>{{instructor.instCourseNum}} Courses</p>
    </div>
  </div>
  <div class="und">
    <p>
      Hi, I'm Jonas! I'm one of Udemy's Top Instructors and all my premium courses have earned the best-selling status <b></b>for outstanding performance and student satisfaction.

<b></b>I'm a full-stack web developer and designer with a passion for building beautiful web interfaces from scratch.<b></b> I've been building websites and apps since 2010 and also have a Master's degree in Engineering.

I discovered my passion for teaching and helping others by sharing everything I knew during college. This passion led me to Udemy in 2015, where I now have the privilege of training 1,500,000+ learners in the field of web development.
    </p>
  </div>
</div>
