<h1 class="header23">Shopping Cart</h1>
<div id="cartItems" class="section cart">
  <div>
    <p><span id="cartTotal">{{coursesInCart.length}}</span><span>Courses in Cart</span></p>
    <div class="bdLight">
      @if (coursesInCart.length == 0 ) {
        <div id="emptyCart" class="empty">
            <img src="../../../assets/images/emptyCart.jpg" />
            <p>Your cart is empty. Keep shopping to find a course!</p>
            <button class="btn btnH blueBtn">Keep shopping</button>
          </div>
      } 
      @else {
        <div class="bdLight inCart">
          <div id="cart" class="nonEmpty">
            @for (item of coursesInCart; track $index) {
              <div class="product"> 
                <img class="image" src="{{item.img}}">
                <div id="mainText">
                  <p class="courseName text">{{item.title}}</p>
                  <p class="tutor text">{{item.instructor}}</p>
                </div>
                <div class="cartButtons">
                  <button class="rBtn1 rBtn"(click)="removeFromCart" >Remove</button>
                  <button class="rBtn3 rBtn" (click)="moveToWishlist">Move to Wishlist</button>
                </div>
                <p class="price">{{item.price}}</p>  
              </div>
            }
          </div>
        </div>
      }
    </div>
  
    <div id="showOnLog">
      <p>Recently wishlisted</p>
      <div id="savedItems" class="section cart saved">
        <p id="wished0">You haven't added any courses to your wishlist.</p>
        <div id="wished" class="bdLight"></div>
      </div>
    </div>
  </div>
  <div class="checkout nonEmpty">
    <p>Total:</p>
    <h1><span>E£</span><span id="totalBill">0</span></h1>
    <div id="priceOff"></div>
    <button id="checkout" type="submit" class="btn blueBtn maxWidth">
      Checkout
    </button> 
    <h3>Promotions</h3>
    <div>
      <a class="cross" href=""><img class="icon" src="../images/cancel.png" /></a>
      <span id="couponName">No Coupon</span><span> is Applied</span>
    </div> 
    <form id="coupon">
      <input type="text" placeholder="Enter Coupon" id="couponCode" />
      <input class="btn blueBtn couponBtn" type="submit" value="Apply" id="applyCoupon" />
    </form> 
    <!-- <button class="cartBtn">Cart</button> -->
  </div>
</div>
