<h1 class="header23">Shopping Cart</h1>
<div class="cartItems" class="section cart">
  <div style="margin-bottom: 150px;">
    <p><span id="cartTotal">{{coursesInCart.length}}</span><span>Courses in Cart</span></p>
    <div class="bdLight ">
      @if (coursesInCart.length == 0 ) {
        <div id="emptyCart" class="empty">
            <img src="../../../assets/images/emptyCart.jpg" />
            <p>Your cart is empty. Keep shopping to find a course!</p>
            <button class="btn btnH blueBtn" routerLink="">Keep shopping</button>
          </div>
          <!-- <div id="showOnLog">
            <p>Recently wishlisted</p>
            <div id="savedItems" class="section cart saved">
              <p id="wished0">You haven't added any courses to your wishlist.</p>
              <div id="wished" class="bdLight"></div>
            </div>
          </div> -->
      }
      @else {
        <hr>
        <div class="bdLight inCart">
          <div id="cart" class="nonEmpty">
            @for (item of coursesInCart; track $index) {
              <div >
              <div class="product">
                <div>
                <img class="image" src="{{item.image}}">
                </div>
                <div id="mainText">
                  <p class="courseName text">{{item.name}}</p>
                  <p class="tutor text">{{item.instructorName}}</p>
                  <div class="star-ratings-css">
                    @if(item.rate>0){

                    <div class="star-ratings" [style.width]="(item.rate / 5) * 100 + '%'">
                        <span><b>{{ item.rate }} </b> </span>
                        <span *ngFor="let star of getStarArray(item.rate); let i = index">
                            <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
                        </span>
                        <span class="num-reviewers">({{ item.reviewersNumber }})</span>
                    </div>
                
              }@else {
                <div class="star-ratings" style="width: 100%;">

                  <span class="no-reviews">No Reviews yet.</span>
              </div>
              }
            </div>
                <div style="display: flex;">
                  <p style="opacity: 0.7;">total hours{{item.totalHours}}</p>
                  <p class="left">lectures{{item.totalLessons}}</p>
                  <p class="left">{{item.level}}</p>
                </div>

                </div>
                <div class="cartButtons">

                  <button class="rBtn1 rBtn"(click)="removeFromCart(item)" >Remove</button>
                  @if(loggedIn){
                  <button class="rBtn3 rBtn" (click)="moveToWishlist(item)">Move to Wishlist</button>
                  }
                </div>
                <div class="price">
                  <p>${{item.price}}</p>
                </div>

              </div>

          
              </div>

            }
          </div>
          <div class="check">
            <div class="checkout nonEmpty" style="margin-left: 120px;">
              <p>Total:</p>
              <h1><span>$</span><span id="totalBill">{{totalBill}}</span></h1>
              <div id="priceOff"></div>
              <button id="checkout" type="submit" class="btn blueBtn maxWidth" (click)="checkout()">
                Checkout
              </button>
              <h3>Promotions</h3>
              <div>
                <span id="couponName">No Coupon</span><span> is Applied</span>
              </div>
              <form id="coupon">
                <input type="text" placeholder="Enter Coupon" id="couponCode" />
                <input class="btn blueBtn couponBtn"  value="Apply" id="applyCoupon" />
              </form>

            </div>
            </div>
        </div>
       

      }
    </div>



  </div>
  <!-- <div class="checkout nonEmpty">
    <p>Total:</p>
    <h1><span>E£</span><span id="totalBill">0</span></h1>
    <div id="priceOff"></div>
    <button id="checkout" type="submit" class="btn blueBtn maxWidth">
      Checkout
    </button>
    <h3>Promotions</h3>
    <div>
      <a class="cross" href=""><img class="icon" src="../images/cancel.png" /></a>
      <span id="couponName">No Coupon</span><span> is Applied</span>
    </div>
    <form id="coupon">
      <input type="text" placeholder="Enter Coupon" id="couponCode" />
      <input class="btn blueBtn couponBtn" type="submit" value="Apply" id="applyCoupon" />
    </form>

  </div> -->

</div>
@if(loggedIn){
<div class="section slider ">
  <p style="font-size: 20px;font-weight: bold;">Moved to wishlist</p>
  <hr>
  <div id="cart" class="nonEmpty wishlist" >
    @for (item of wishedItems; track $index) {
      <div >
      <div class="product">
        <div>
        <img class="image" src="{{item.image}}">
        </div>
        <div id="mainText">
          <p class="courseName text">{{item.name}}</p>
          <p class="tutor text">{{item.instructorName}}</p>
          <div class="star-ratings-css">
            @if(item.rate>0){

            <div class="star-ratings" [style.width]="(item.rate / 5) * 100 + '%'">
                <span><b>{{ item.rate }} </b> </span>
                <span *ngFor="let star of getStarArray(item.rate); let i = index">
                    <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
                </span>
                <span class="num-reviewers">({{ item.reviewersNumber }})</span>
            </div>
        
      }@else {
        <div class="star-ratings" style="width: 100%;">

          <span class="no-reviews">No Reviews yet.</span>
      </div>
      }
    </div>
        <div style="display: flex;">
          <p style="opacity: 0.7;">total hours{{item.totalHours}}</p>
          <p class="left">lectures{{item.totalLessons}}</p>
          <p class="left">{{item.level}}</p>
        </div>

        </div>
        
        <div class="price">
          <p>${{item.price}}</p>
        </div>

      </div>

  
      </div>

    }
  </div>
</div>
}
<div class="section slider">
  <p style="font-size: 20px;font-weight: bold;">You might also like</p>
  <div>
    <app-course-slider [courses]="randomCourses"></app-course-slider>
  </div>
</div>

