<div class="course-content-header">
    <div class="row col-9 col-md-auto justify-content-center items-header-logo ">
        <div class="d-flex col-auto justify-content-center ">
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="udemy"
                title="udemy logo" width="100px" />
        </div>
    </div>

    <div class="items-header-name">

        <span>Course name</span>

    </div>



    <!-- <section style=" display: flex; margin-left: 700px;"> -->

    <!-- <div class="items-header-prog" [class.hide]="progressBarHidden"> -->
    <div class="items-header-prog">
        <div class="custom-progress-bar">
            <div class="progress-bar" [style.width]="calculateProgress() + '%'"></div>
        </div>
        @if(progress==100){
        <ng-container>
            <!-- <div>Congratulations!</div> -->
            <a routerLink="/certificate">Congratulations!</a>
        </ng-container>
        }
    </div>



    <!-- <div class="cup" (click)="toggleProgressBar()"> <i class="fa-solid fa-trophy"></i></div> -->
    <div style="align-items: center;"> <i class="fa-solid fa-trophy"></i></div>




    <P style="color: white;margin-right: 30px;margin-top: 11px; align-items: center; ">Your progress </P>

    <button class="share-button"><i class="fa-solid fa-share"></i> Share</button>

    <div class="btn-icon"><i class="fa-solid fa-ellipsis-vertical"></i> </div>
    <!-- </section> -->



</div>



<div class="main">
    <div id="video-container">
        <div class="video-player-wrapper">
            <vg-player>
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    <vg-track-selector></vg-track-selector>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
                    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    <track kind="subtitles" label="English"
                        src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
                    <track kind="subtitles" label="Español"
                        src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es">
                </video>
            </vg-player>
        </div>




        <div class="tab-view" id="comments-tab">
            <div class="comments">
                <!-- Comments content here -->
                Comments...
            </div>
        </div>
        <div style="padding: 10px;">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0"
                        role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab"
                        aria-controls="simple-tabpanel-1" aria-selected="false">Q&A</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#simple-tabpanel-2" role="tab"
                        aria-controls="simple-tabpanel-2" aria-selected="false">Reviews</a>
                </li>


                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simple-tab-3" data-bs-toggle="tab" href="#simple-tabpanel-3" role="tab"
                        aria-controls="simple-tabpanel-3" aria-selected="false">Note</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simple-tab-4" data-bs-toggle="tab" href="#simple-tabpanel-4" role="tab"
                        aria-controls="simple-tabpanel-4" aria-selected="false">Comment</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simple-tab-5" data-bs-toggle="tab" href="#simple-tabpanel-5" role="tab"
                        aria-controls="simple-tabpanel-5" aria-selected="false">Announcement</a>
                </li>

            </ul>
            <div class="tab-content pt-5" id="tab-content">
                <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
                    <app-overview></app-overview>
                </div>
                <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
                    <app-q></app-q>
                </div>
                <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-2">
                    <app-review2></app-review2>

                    <!-- <app-reviews></app-reviews> -->
                </div>


                <div class="tab-pane" id="simple-tabpanel-3" role="tabpanel" aria-labelledby="simple-tab-3">

                    @for(section of sections ;track $index){

                    @for(lesson of section.lessons;track $index){

                    @if(selectedLesson && selectedLesson.lessonId === lesson.lessonId) {

                    <app-note [lesson]="lesson"></app-note>
                    }}}


                </div>

                <div class="tab-pane" id="simple-tabpanel-4" role="tabpanel" aria-labelledby="simple-tab-4">
                    <app-comment></app-comment>
                </div>

                <div class="tab-pane" id="simple-tabpanel-5" role="tabpanel" aria-labelledby="simple-tabpanel-5">
                    <app-announcement></app-announcement>
                </div>

            </div>
        </div>
    </div>


    <div class="sidebar-wrapper">
        <div class="accordion fixed-header">
            <p>Course Content</p>
        </div>
        <div id="sidebar">

            <div class="sections-wrapper">
                @for(section of sections ;track $index){

                <div class="accordion">

                    <div class="accordion-header" (click)="toggleAccordion(section.sectionName)">Section:{{
                        section.sectionName }}
                    </div>
                    <div class="accordion-content" id="{{ section.sectionName }}">
                        <ul>
                            @for(lesson of section.lessons;track $index){
                            <div style="display: flex;margin: 10px;">
                                <input type="checkbox" [(ngModel)]="lesson.inCompleted"
                                    (change)="updateWatchedStatus()">
                                <li (click)="loadVideo(lesson.lessonVideo)" style="margin-left: 10px;">{{
                                    lesson.lessonName }}</li>
                            </div>
                            <div style="margin-left: 30px;display: flex;">
                                <p><i class="fa-solid fa-circle-play"></i></p>
                                <p id="tim">{{lesson.lessonTimeInMinutes}}<span>min</span></p>
                            </div>

                            }
                        </ul>
                    </div>
                </div>

                }
            </div>

        </div>
    </div>






</div>