<!-- hero section starts -->
<div class="home-wrapper">
  <section class="hero">

    <div class="hero-content">

      <h1>
        A new brand, <br>
        a renewed purpose
      </h1>
      <br>
      <p>We're still changing learning for the better — <br> now we just look better doing it</p>
      <br>

      <input type="text" placeholder="    What do you want to learn?">

    </div>

  </section>

<div class="home-inner-wrapper">
  <div class="first-info">
    <h1 class='firstlinecourseheading'>A broad selection of courses</h1>
    <p class='secondlinecourseheading'>Choose from 155,000 online video courses with new additions published every month
    </p>
  </div>

  <div>
    <app-tabs-toggle></app-tabs-toggle>
  </div>
</div>

  <div class="divider_sec">
    <!-- first item  -->
    <div class="divider_item" onclick="exploreCourses()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <path
            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
            fill="#cccccc"></path>
          <g fill="#000000">
            <path d="M69.94667,58.91v54.18l46.44,-27.09z"></path>
          </g>
        </g>
      </svg>
      <p>Over 155,000 video courses on career <br> and personal skills</p>
    </div>




    <!-- second item  -->
    <div class="divider_item" onclick="exploreCourses()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <path
            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
            fill="#cccccc"></path>
          <g fill="#000000">
            <path d="M69.94667,58.91v54.18l46.44,-27.09z"></path>
          </g>
        </g>
      </svg>
      <p>Choose from top industry instructors <br> across the world</p>
    </div>

    <!-- third item  -->

    <div class="divider_item" onclick="exploreCourses()">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 172 172"
        style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
          stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
          font-size="none" text-anchor="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <path
            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
            fill="#cccccc"></path>
          <g fill="#000000">
            <path
              d="M86,107.74676l18.46543,11.14466c2.91344,1.75773 6.50694,-0.85471 5.73398,-4.16578l-4.90157,-21.00726l16.31751,-14.13614c2.57156,-2.22596 1.19659,-6.4512 -2.19251,-6.73734l-21.47921,-1.8209l-8.40216,-19.82553c-1.32666,-3.12526 -5.75628,-3.12526 -7.08294,0l-8.40216,19.82553l-21.47921,1.8209c-3.38911,0.28614 -4.76407,4.51138 -2.19251,6.73734l16.31751,14.13614l-4.90157,21.00726c-0.77295,3.31107 2.82054,5.92351 5.73398,4.16578z">
            </path>
          </g>
        </g>
      </svg>
      <p>Learn at your own pace, with lifetime <br> access on mobile and desktop</p>
    </div>
  </div>



  <!-- second slider starts -->

  <div class="home-inner-wrapper">

    <div class="first-info">
      <h2>Because you searched for “Angular”</h2>
      <app-course-slider></app-course-slider>
    </div>
  <!-- second slider ends -->
  <!-- top categories section starts -->
  <div class="section">
    <h2>Top categories</h2>
    <div id="topCategories">
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" />
        </div>
        <p>Design</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" />
        </div>
        <p>Development</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" />
        </div>
        <p>Marketing</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" />
        </div>
        <p>IT and Software</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg"
            src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg" />
        </div>
        <p>Personal Development</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" />
        </div>
        <p>Business</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" />
        </div>
        <p>Photography</p>
      </a>
      <a class="cat" onclick="exploreCourses()">
        <div>
          <img class="popImg" src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" />
        </div>
        <p>Music</p>
      </a>
      <a></a>
    </div>
  </div>
  <!-- top categories section ends -->
</div>

  <!-- Featured topics by category -->
  <div class="section bg1">
    <h2>Featured topics by category</h2>
    <div id="featuredTopics">
      <div>
        <h2>Development</h2>
        <div class="cat_items">
          <a href="" class="aLink">Python</a>
          <p>29,336,979 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Web Development</a>
          <p>9,550,885 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Machine Learning</a>
          <p>5,871,870 students</p>
        </div>
      </div>
      <div>
        <h2>Business</h2>
        <div class="cat_items">
          <a href="" class="aLink">Financial Analysis</a>
          <p>1,067,837 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">SQL</a>
          <p>4,361,952 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">PMP</a>
          <p>1,381,302 students</p>
        </div>
      </div>
      <div>
        <h2>IT and Software</h2>
        <div class="cat_items">
          <a href="" class="aLink">AWS Certification</a>
          <p>4,433,065 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Ethical Hacking</a>
          <p>8,934,821 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Cyber Security</a>
          <p>3,244,270 students</p>
        </div>
      </div>
      <div>
        <h2>Design</h2>
        <div class="cat_items">
          <a href="" class="aLink">Photoshop</a>
          <p>9,664,566 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Graphic Design</a>
          <p>2,804,350 students</p>
        </div>
        <div class="cat_items">
          <a href="" class="aLink">Drawing</a>
          <p>2,181,754 students</p>
        </div>
      </div>
    </div>
    <div>
      <button class="btn" onclick="exploreCourses()">Explore more topics</button>
    </div>
  </div>
  <!-- slider -->
  <div class="home-inner-wrapper">

  <div class="first-info">
    <h2>Short and sweet courses for you</h2>
    <app-course-slider></app-course-slider>
  </div>
  <!-- udemy main business section starts -->

  <div class="maincontainer1">
    <img class="container1-image" src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg" alt width="400"
      height="400" />
    <div class="insidecontainer-11">
      <h3 class="container1-heading">Become an instructor</h3>
      <p class="conatiner1-content">
        Instructors from around the world teach millions of students on Udemy.
        We provide the tools and skills to teach what you love.
      </p>
      <div>
        <a [routerLink]="['/teachUdemy']" routerLinkActive="router-link-active"  class="insidecontainer-11-btn">Start teaching today</a>
      </div>
    </div>
  </div>
</div>


  <div class="section2">
    <div class="trustedcomp-container">
      <h3>Trusted by companies of all sizes</h3>
      <div class="section2-logos">
        <div class="section2-logos-div">
          <img src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" width="44" height="44" />
        </div>
        <div class="section2-logos-div">
          <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" width="67" height="44" />
        </div>
        <div class="section2-logos-div">
          <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" width="44" height="44" />
        </div>
        <div class="section2-logos-div">
          <img src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg" width="101" height="44" />
        </div>
        <div class="section2-logos-div">
          <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" width="115" height="44" />
        </div>
      </div>
    </div>
  </div>
  <div class="home-inner-wrapper">

  <div class="maincontainer1 maincontainer2">
    <div class="insidecontainer-11">
      <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-ub.svg" alt="Udemy Business" width="282"
        height="48" />
      <!-- <h3 class='container1-heading'>Become an instructor</h3> -->
      <p class="conatiner1-content">
        Get unlimited access to 6,000+ of Udemy’s top courses for your team.
        Learn and improve skills across business, tech, design, and more.
      </p>
      <div>
        <a href="#" class="insidecontainer-11-btn">Get Udemy Business</a>
      </div>
    </div>
    <img class="container1-image" src="https://s.udemycdn.com/home/non-student-cta/ub-2x-v3.jpg" alt width="400"
      height="400" />
  </div>
  <div class="maincontainer1">
    <img class="container1-image" src="https://s.udemycdn.com/home/non-student-cta/transform-2x-v3.jpg" alt width="400"
      height="400" />
    <div class="insidecontainer-11">
      <h3 class="container1-heading">
        Transform your life through education
      </h3>
      <p class="conatiner1-content">
        Learners around the world are launching new careers, advancing in
        their fields, and enriching their lives.
      </p>
      <div>
        <a href="#" class="insidecontainer-11-btn">Find out how</a>
      </div>
    </div>
  </div>
  <br>
  <br>

</div>

</div>