<!-- announcement.component.html -->
<div class="announcement-container">
    @if(announcements.length > 0){
    <div >
      @for(announcement of announcements; track $index ){

      <div  class="announcement">
        <img src={{announcement.instructorImage}} alt="Instructor's Picture">
        <div class="announcement-details">
          <p style="margin-bottom: 0px;font-weight: bold;">{{ announcement.instructorName }}</p>
          <p>{{ announcement.content }}</p>
          <!-- <p>Date: {{ announcement.date }}</p> -->
        </div>
        <!-- <button (click)="deleteAnnouncement($index)">Delete</button> -->
      </div>}
    </div>}
  @else{
      <p>No announcements available.</p>
  }
  </div>
