<!-- <section style="margin-left: 55px;">

  <div class="note-container">
    <input class=".input" type="text" [(ngModel)]="newNoteContent" placeholder="Add a new note">
    <button class="add" (click)="addNote()">Add</button>
  </div>
  @if(videoNotes.length > 0){
  <div>
    <ul>
      @for(note of videoNotes;track $index){
      <li >
        {{ note.content }}
      </li>}
    </ul>
  </div>
  }

  @else{
  <p>No notes available.</p>
  }
</section> -->

<div>
  <h3>Notes</h3>
  <ul>
    @for(note of lesson.notes; track $index){
    <li >{{ note.content }}</li>
    }
  </ul>
  <input type="text" [(ngModel)]="newNoteContent" placeholder="Enter your note">
  <button (click)="addNote()">Add Note</button>
</div>

