<!-- <h2>Update Course</h2>

<form>
  <div>
    <label>Title:</label>
    <input type="text" [(ngModel)]="course.courseTitle" name="title">
  </div>
  <div>
    <label>Description:</label>
    <textarea [(ngModel)]="course.categoryName" name="description"></textarea>
  </div>
  <div>
    <label>Duration:</label>
    <input type="text" [(ngModel)]="course.courseDisc" name="duration">
  </div>

  <button type="submit">Update</button>
</form> -->



<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab"
      aria-controls="simple-tabpanel-0" aria-selected="true" >Previous</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab"
      aria-controls="simple-tabpanel-1" aria-selected="false">Next</a>
  </li>

</ul>
<div class="tab-content pt-5" id="tab-content">
  <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
    <section>
      <form (ngSubmit)="onSubmit()">

        <label style="position: relative;top:-30px;right: -60px;">Course ID:</label>
        <input type="text" Name="id" [(ngModel)]="course.id" placeholder="Course ID" class="d">
        <label class="a">Title:</label>
        <input type="text" Name="courseTitle" [(ngModel)]="course.courseTitle" placeholder="" class="d">
        <div class="b">
          <label style="position: relative;top:-60px;right: -70px;">Description:</label>
        <textarea Name="courseDisc" [(ngModel)]="course.courseDisc" placeholder="" class="c"></textarea>
        </div>
        <label style="position: relative;top:-30px; right: -100px;margin-top: 30px;">Category Name:</label>
        <input type="text" Name="categoryName" [(ngModel)]="course.categoryName" placeholder="" style="margin-top: 30px;">
        <label class="h">Sub Name:</label>
        <input type="text" Name="subcatName" [(ngModel)]="course.subcatName" placeholder="" class="g">
        <label class="h">Topic Name:</label>
        <input type="text" Name="topicName" [(ngModel)]="course.topicName" placeholder="" class="g" style="margin-right: 10px;">
        <div style="margin-top: 20px;">
          <label style="position: relative;left: -250px;">Objectives</label>
          <div class="obj">
          <input type="text" Name="Objectives" [(ngModel)]="course.Objectives" >
          </div>
          <div class="obj">
          <input type="text" Name="Objectives" [(ngModel)]="course.Objectives" >
          </div>
          <div class="obj">
          <input type="text" Name="Objectives" [(ngModel)]="course.Objectives" >
          </div>
          <div class="obj">
          <input type="text"  Name="Objectives" [(ngModel)]="course.Objectives" >
          </div>
          <div class="obj">
          <input type="text" Name="Objectives" [(ngModel)]="course.Objectives" >
        </div>
        </div>
        <div style="margin-top: 20px;">
          <label style="position: relative;left: -230px;">Full Description</label>
        </div>
        <div class="full">
          <textarea Name="FullDescription" [(ngModel)]="course.FullDescription"></textarea>
        </div>
      </form>
      </section>

  </div>
  <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
    <section>
      <form (ngSubmit)="onSubmit()">
        <label style="position: relative;top: -30px;right: -100px;">Section Number </label>
        <input type="text" Name="sectionnum" [(ngModel)]="course.sectionnum">
        <label style="position: relative;top: -30px;right: -80px;">Total Lecture</label>
        <input type="text" Name="totallecture" [(ngModel)]="course.totallecture">
        <label style="position: relative;top: -30px;right: -80px;">Total Houres</label>
        <input type="text"  Name="totalhoures" [(ngModel)]="course.totalhoures">
        <label style="position: relative;top: -30px;right: -60px;">Total Min</label>
        <input type="text" Name="totalmin" [(ngModel)]="course.totalmin">
        <div style="margin-top: 20px;">
          <label style="position: relative;left: -360px;">Requirements</label>
        </div>
        <div class="req">
          <input type="text" Name="requirement" [(ngModel)]="course.requirement">
        </div>
        <div class="req">
          <input type="text" Name="requirement" [(ngModel)]="course.requirement">
        </div>
        <div class="req" style="margin-bottom: 20px;">
          <input type="text" Name="requirement" [(ngModel)]="course.requirement">
        </div>

        <label style="position: relative;top: -30px;right: -100px;">Section Name</label>
        <input class="sec" type="text" [(ngModel)]="course.secName" Name="secName">
        <label style="position: relative;top: -30px;right: -110px;">Lecture Number</label>
        <input type="text" class="sec" Name="secLecNum" [(ngModel)]="course.secLecNum">
        <label style="position: relative;top: -30px;right: -110px;">Houres Number</label>
        <input type="text" class="sec" Name="secHourNum" [(ngModel)]="course.secHourNum">
        <div style="margin-top: 20px;">
          <label style="position: relative;top: -30px;right: -100px;">Section Name</label>
          <input class="sec" type="text" [(ngModel)]="course.secName" Name="secName">
          <label style="position: relative;top: -30px;right: -110px;">Lecture Number</label>
          <input type="text" class="sec" Name="secLecNum" [(ngModel)]="course.secLecNum">
          <label style="position: relative;top: -30px;right: -110px;">Houres Number</label>
          <input type="text" class="sec" Name="secHourNum" [(ngModel)]="course.secHourNum">
        </div>
        <div style="margin-top: 20px;">
          <label style="position: relative;top: -30px;right: -100px;">Section Name</label>
          <input class="sec" type="text" [(ngModel)]="course.secName" Name="secName">
          <label style="position: relative;top: -30px;right: -110px;">Lecture Number</label>
          <input type="text" class="sec"Name="secLecNum" [(ngModel)]="course.secLecNum">
          <label style="position: relative;top: -30px;right: -110px;">Houres Number</label>
          <input type="text" class="sec" Name="secHourNum" [(ngModel)]="course.secHourNum">
        </div>
        <div style="margin-top: 40px;">
          <label style="position: relative;top: -30px;right: -100px;">Lesson Name</label>
          <input type="text" class="les" Name="lessonName" [(ngModel)]="course.lessonName">
          <label style="position: relative;top: -30px;right: -90px;">Lesson Time</label>
          <input type="text" class="les" Name="lessonTime" [(ngModel)]="course.lessonTime">
        </div>
        <div style="margin-top: 40px;">
          <label style="position: relative;top: -30px;right: -100px;">Lesson Name</label>
          <input type="text" class="les" Name="lessonName" [(ngModel)]="course.lessonName">
          <label style="position: relative;top: -30px;right: -90px;">Lesson Time</label>
          <input  type="text" class="les" Name="lessonTime" [(ngModel)]="course.lessonTime">
        </div>
        <div style="margin-top: 40px;">
          <label style="position: relative;top: -30px;right: -100px;">Lesson Name</label>
          <input type="text" class="les" Name="lessonName" [(ngModel)]="course.lessonName">
          <label style="position: relative;top: -30px;right: -90px;">Lesson Time</label>
          <input type="text" class="les" Name="lessonTime" [(ngModel)]="course.lessonTime">
        </div>
        <div style="margin-top: 40px;">
          <label style="position: relative;top: -60px;right: -100px;">Announcement </label>
          <textarea  class="text" Name="announcement" [(ngModel)]="course.announcement"></textarea>
        </div>
        <button type="submit">Save</button>
        </form>
        </section>
  </div>


</div>

