

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab"
      aria-controls="simple-tabpanel-0" aria-selected="true" >Previous</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab"
      aria-controls="simple-tabpanel-1" aria-selected="false">Next</a>
  </li>

</ul>
<div class="tab-content pt-5" id="tab-content">
  <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
    <section>
      <form>
        <label style="position: relative;top: -30px;right: -30px;">Title</label>
        <input class="ti" type="text" value="{{course.courseTitle}}" name="courseTitle" [(ngModel)]="courseTo.courseTitle">

        <div style="margin-left: -350px;">
          <label for="numberInput" style="position: relative;top: -30px;right: -45px;">Enter a number of object:</label>
          <input type="number" id="numberInput" [(ngModel)]="numInputs" name="numInputs" (ngModelChange)="createInputs()" min="1" max="8">
        </div>
          <!-- @for(input of inputsArray;track $index){ -->
        <div *ngFor="let input of inputsArray; let i = index" >
          <input id="in" type="text" value="{{courseTo.Objectives[i].content}}"  [(ngModel)]="course.Objectives[i].content" name="content{{i}}">
        <!-- } -->
          </div>
        <div>
          <label style="position: relative;top: -30px;right: -100px;">Category Name:</label>
          <input type="text" name="categoryName" value="{{courseTo.categoryName}}" [(ngModel)]="course.categoryName">
          <label class="a">Sub Name:</label>
          <input type="text" name="subcatName" value="{{courseTo.subcatName}}" [(ngModel)]="course.subcatName">
          <label class="a">Topic Name :</label>
          <input type="text" name="topicName" value="{{courseTo.topicName}}" [(ngModel)]="course.topicName">
        </div>
        <div style="margin-top: 30px;">
          <label style="position: relative;top: -50px;right: -55px;margin-bottom: 20px;">Braif Description </label>
          <textarea class="de" name="courseDisc" value="{{courseTo.courseDisc}}" [(ngModel)]="course.courseDisc"></textarea>
        </div>
        <div style="margin-top: 30px;">
          <label style="position: relative;top: -50px;right: -55px;margin-bottom: 20px;">Full Description </label>
          <textarea class="de" name="FullDescription" value="{{courseTo.fullDescription}}" [(ngModel)]="course.fullDescription"></textarea>
        </div>
      </form>
      </section>

  </div>
  <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
    <section>
      <form (ngSubmit)="onSubmit()">
        <label style="position: relative;top: -30px;right: -100px;">Requirement Number </label>
        <input type="number" name="reqnum" id="num" [(ngModel)]="reqnum" (ngModelChange)="createInput()" min="1" max="3">
        <div style="margin-top: 20px;">
          <label style="position: relative;left: -360px;">Requirements</label>
        </div>
        <div class="req"*ngFor="let input of inputsArr; let i = index">
          <input type="text" name="content" value="{{courseTo.requirements[i].content}}" [(ngModel)]="course.requirements[i].content" >
        </div>
        <label style="position: relative;top: -30px;right: -100px;margin-top: 30px;">Section Number </label>
        <input type="number" name="sectionnum" id="number" value="{{courseTo.sectionnum}}" [(ngModel)]="course.sectionnum" (ngModelChange)="createInputss()" min="1" max="8">
        <div>
        <label style="position: relative;left: -360px;">Section Name</label>
        <div *ngFor="let input of inputsArrr; let i = index">
        <input class="sec" type="text" name="sectionName" value="{{courseTo.sections[i].sectionName}}" [(ngModel)]="course.sections[i].sectionName">
        </div>
        </div>
        <label style="position: relative;top: -30px;right: -110px;">Lecture Number</label>
        <input type="number" class="lec"name="secLecNum" [(ngModel)]="secLecNum" (ngModelChange)="createInputsss()" min="1" max="8">
        <div style="margin-top: 40px;" *ngFor="let input of inputsArrrr; let i = index">
          <label style="position: relative;top: -30px;right: -100px;">Lesson Name</label>
          <input type="text" class="les" name="lessonName" value="{{courseTo.sections[i].lessons[i].lessonName}}" [(ngModel)]="course.sections[i].lessons[i].lessonName">

        </div>
        <div>
          <label>Price</label>
          <input type="text" name="price" value="{{courseTo.price}}"  [(ngModel)]="course.price">
          <label>Languege</label>
          <input type="text" name="language" value="{{courseTo.language}}" [(ngModel)]="course.language">
          <label>Level</label>
          <input type="text" name="level" value="{{courseTo.level}}" [(ngModel)]="course.level">
          <button type="submit" style="margin-top: 50px;position: relative;bottom: -50px;">Save</button>
  </div>
  <div>
    <input type="text" name="cover" value="{{courseTo.cover}}" [(ngModel)]="course.cover">
  </div>
        <button type="submit" style="margin-top: 50px;position: relative;bottom: -50px;">Save</button>
        </form>
        </section>
  </div>


</div>

