<section class="hero">

    <div class="hero-content">

        <h1>
            Connecting people <br> with knowledge
        </h1>

    </div>

</section>

<section class="prag">
    <h1>Our origins</h1>
    <p>Growing up in a small Turkish village, Udemy founder Eren Bali had few <br> educational opportunities — until he
        got a computer. Fueled by his dream to <br> compete in mathematics, he used <br> the internet to learn his way
        to a silver medal in the International Math Olympiad. </p>
    <p> After learning online changed his life, Eren partnered with co-founders Oktay <br> Caglar and Gagan Biyani to
        achieve a common goal: to make quality education <br> accessible to all.</p>

</section>


<div class="maincontainer1">
    <img class="container1-image" src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg" alt width="400"
        height="400" />
    <div class="insidecontainer-11">
        <h3 class="container1-heading">How we started </h3>
        <p class="conatiner1-content">
            From an early age, Udemy founder <br>
            Eren Bali knew learning was the key <br>
            to unloching opportunity

        </p>

    </div>
</div>

<section class="prag">
    <h1>Contact us</h1>
    <p> The quickest way to get in touch with us is by using the contact information below.
    </p>
</section>

<section class="table">
    <table>
        <tr>
            <td>
                <h1>Learners</h1>
                <hr>
                <p>Visit our Help Center
                    <br> How to reach our support team
                </p>
            </td>
            <td>
                <h1>Udemy Business</h1>
                <hr>
                <p>Visit our Help Center
                    <br> Enterprise New Customer Inquiry
                </p>
            </td>

            <td>
                <h1>Instructors</h1>
                <hr>
                <p>Visit our Help Center and explore our Teaching <br> Center</p>
            </td>
        </tr>


        <tr>
            <td>
                <h1>Partners, Resellers & Affiliates</h1>
                <hr>
                <p>Visit our Help Center </p>
            </td>

            <td>
                <h1>Investors</h1>
                <hr>
                <p>Learn more here
                    <br> Contact our Investor Relations team
                </p>
            </td>

            <td>
                <h1>Press</h1>
                <hr>
                <p>View general information
                    <br>Email pressudemy.com
                </p>
            </td>
        </tr>

        <tr>

            <td>
                <h1>Privacy</h1>
                <hr>
                <p>View privacy policy
                    <br> Email privacy udemy.com

                    <br> Mail:
                    <br> Udemy, Inc.
                    <br> Attn: Legal
                    600 Harrison Street, 3rd Floor
                    San Francisco, CA 94107
                </p>
            </td>

            <td>
                <h1>European Union Authorities & <br> Trusted Flaggers</h1>
                <hr>
                <p>View Digital Services Act Information
                    <br> Report Illegal Content Form
                    <br> Email dsacompliance udemy.com
                </p>
            </td>
        </tr>

    </table>
</section>


<h1 style="font-size: 60px; font-weight: bold;text-align: center; margin-bottom: 20px;">Our Office</h1>

<div class="grid-container">
    <div class="grid-item">
        <img src="assets\space\1.jpeg">
        <p> Ankara, Türkiye</p>
    </div>
    <div class="grid-item">
        <img src="assets\space\2.jpeg">
        <p> Istanbul </p>
    </div>
    <div class="grid-item">
        <img src="assets\space\3.jpeg">
        <p> Austin, TX</p>
    </div>
    <div class="grid-item">
        <img src="assets\space\4.jpeg">
        <p>Melbourne, Australia</p>
    </div>
    <div class="grid-item">
        <img src="assets\space\5.jpeg">
        <p>Istanbul, Türkiye</p>
    </div>
    <div class="grid-item">
        <img src="assets\space\6.jpeg">
        <p> Austin, TX </p>
    </div>
    <div class="grid-item">
        <img src="assets\space\7.jpeg">
        <p> Melbourne, Australia </p>
    </div>
    <div class="grid-item">
        <img src="assets\space\8.jpeg">
        <p> Gurgaon, India </p>
    </div>
</div>