<!-- hero section starts -->

<section class="hero">

    <div class="hero-content">

        <h1>
            Welcome to where <br>
            possibilities begin
        </h1>

    </div>

</section>

<div class="Black">
    <p>Check out our latest company news!</p>
</div>

<section>
    <div class="headTwo">
        <h1>Skills are the key to unlocking potential</h1>
        <p> Whether you want to learn a new skill, train your teams, or share what you know with the world,<br>
            you’re in the right place. As a leader in online learning, we’re here to help you achieve your
            <br>goals and transform your life.
        </p>

    </div>
</section>


<div class="maincontainer1">
    <img class="container1-image" src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg" alt width="400"
        height="400" />
    <div class="insidecontainer-11">
        <h3 class="container1-heading">Become an instructor</h3>
        <p class="conatiner1-content">
            Instructors from around the world teach millions of students on Udemy.
            We provide the tools and skills to teach what you love.
        </p>
        <div>
            <a href="#" class="insidecontainer-11-btn">Start teaching today</a>
        </div>
    </div>
</div>

<section class="blue">
    <img src="assets\images\about.jpeg">
</section>

<section class="pt">
    <p>We help organizations of all types and sizes prepare for the path ahead — wherever it leads.<br> Our curated
        collection of business and technical courses help companies, governments, and <br> nonprofits go further by
        placing learning at the center of their strategies.</p>
    <button>Learn more</button>
</section>

<section class="table">
    <table>
        <tr>
            <td><i class="fa-solid fa-quote-left"></i> <span> <i class="fa-solid fa-quote-right"></i></span></td>
            <td><i class="fa-solid fa-quote-left"></i> <span> <i class="fa-solid fa-quote-right"></i></span></td>
            <td><i class="fa-solid fa-quote-left"></i> <span> <i class="fa-solid fa-quote-right"></i></span></td>

        </tr>
        <tr>
            <td>Udemy fit us like a glove. Their team curates fresh, up-to-date courses from their marketplace and makes
                them available to customers.</td>
            <td>In total, it was a big success, I would get emails about what a fantastic resource it was.</td>
            <td>Udemy responds to the needs of the business in an agile and global manner. It’s truly the best solution
                for
                our employees and their careers.</td>
        </tr>
        <tr>
            <td>
                <h4>Varun Patil</h4>
                <p style="font-size: small;">Senior Manager of HR Development</p>
                <h5 style="color: rgb(12, 137, 225);">Read the Synechron case study</h5>
            </td>

            <td>
                <h4>Varun Patil</h4>
                <p style="font-size: small;">Senior Manager of HR Development</p>
                <h5 style="color: rgb(12, 137, 225);">Read the Synechron case study</h5>
            </td>
            <td>
                <h4>Varun Patil</h4>
                <p style="font-size: small;">Senior Manager of HR Development</p>
                <h5 style="color: rgb(12, 137, 225);">Read the Synechron case study</h5>
            </td>

        </tr>
    </table>

</section>

<section>
    <img src="assets\images\logo.jpeg">
</section>

<section>
    <table class="ltable">
        <tr>
            <td style="background-color: violet; height: 7px; width: 200px;">


            </td>
            <td style="background-color: blue;height: 7px; width: 200px;">

            </td>
            <td style="background-color: green;height: 7px; width: 200px;">

            </td>
        </tr>
        <tr>
        <td>
            <h1>Work with us</h1>
            <p>At Udemy, we’re all learners and instructors. We live out our values every day to create a culture that
                is diverse, inclusive, and committed to helping employees thrive.</p>
        </td>
        <td>
            <h1>See our research</h1>
            <p>We’re committed to improving lives through learning. Dig into our original research to learn about the
                forces that are shaping the modern workplace.</p>
        </td>
        <td>
            <h1>Read our blog</h1>
            <p>Want to know what we’ve been up to lately? Check out the Udemy blog to get the scoop on the latest news,
                ideas and projects, and more.</p>
        </td>
    </tr>
    <tr>
        <td style="color: violet;">Join our team</td>
        <td  style="color: blue;">Learn more</td>
        <td style="color: green;">Read now</td>
    </tr>

    </table>
</section>

<!-- urjfb -->
