<div class="all">
<div> <h1>Notifications</h1></div>
<div class="Main">
    <div class="notification">
        <img src="assets/course_img/anonymous_3.png" alt="Image">
        <div class="notification-text">
            <p>This is a notification with an image.</p>
        </div>
    </div>
        <div class="notification">
            <img src="assets/course_img/img3.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <div class="notification">
            <img src="assets/course_img/img4.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <div class="notification">
            <img src="assets/course_img/img5.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <div class="notification">
            <img src="assets/course_img/img5.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <button class="btn">see more</button>
    </div>
</div>



