*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all{
  
    padding-left: 200px;
    display: flex;
    flex-direction: column;

}
h1{
    padding: 20px; 
    margin: 50px;
}
.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 5px; 
    margin-top: 20px;
    width: calc(100% - 20px); /* Adjusted width */
    max-width: 450px;
  
}
.notification img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}
.notification-text {
    flex: 1;
}
.Main{
    border: 2px solid #ccc;
    height: 500px;
        padding: 10px;
        width: 500px;
   margin-left: 70px;
   margin-top: 10px;
   margin-bottom: 50px;
   overflow-y: scroll;

}

.btn{
margin-left: 30%;
cursor: pointer;
justify-content: center;
height:4rem;
background-color: black;
color: beige;
margin-bottom: 20px;
margin-left: 15%;
color: white;
padding: 20px;
font-size: 20px;
border:1px solid black;
text-align: center;
}
.notification {
    position: relative; 
    background-color:#dfe4e6;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .notification-badge {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: purple; 
    border-radius: 50%;
  }
 
  
  .black-background {
    background-color: white;
  }
 

  
  
  


    
