<div class="all">
    <div> <h1>Notifications</h1></div>
<div class="Main">
 
    @for ( item of notifications; track item.id){
        <div class="notification">
            <img src="" alt="Image">
            <div class="notification-text">
                <p >{{item.content}}</p>
            </div>
        </div><hr>
    }
</div>
<div class="Button"><button class="btn"> Mark all as read</button></div> 
</div>


        <!-- <div class="notification">
            <img src="assets/course_img/img4.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <div class="notification">
            <img src="assets/course_img/img5.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div>
        <div class="notification">
            <img src="assets/course_img/img5.jpg" alt="Image">
            <div class="notification-text">
                <p>This is another notification with an image.</p>
            </div>
        </div> -->
      
  
  




