<p-carousel [value]="courses" [numVisible]="1" [numScroll]="1" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">

    <ng-template let-course pTemplate="item">
        <div class="photo border-1 surface-border border-round m-2 text-center">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://i.pinimg.com/564x/79/2a/80/792a808b9b5caae17aa382fc080c469d.jpg"
                            [alt]="course.name" class="w-100 shadow-2" />
                    </div>
                    <div class="col-md-8  two">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text mb-1">Instructor: {{ course.instructor }}</p>
                            <p class="card-text mb-1"> {{ course.disc }}</p>

                            <div class="star-ratings-css">
                                <div class="star-ratings" [style.width]="(course.rating / 5) * 100 + '%'">
                                    <span><b>{{ course.rating }} </b> </span>
                                    <span *ngFor="let star of getStarArray(course.rating); let i = index">
                                        <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
                                    </span>
                                    <span class="num-reviewers">({{ course.numReviewers }})</span>
                                </div>
                            </div>
                            <p class="card-text mt-0 mb-1"><b>{{ '$' + course.price }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="previousicon">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </ng-template>
    <ng-template pTemplate="nexticon">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </ng-template>
</p-carousel>