img{
    border-radius: 50%;
    width: 50px;
    margin-right: 20px;
}
.fa-star{
    color: orange;
}
.star-ratings{
    margin-right: 10px;
}


/* review.component.css */
.stars {
    display: inline-block;
    font-size: 80px;
    cursor: pointer;
    color: rgb(197, 192, 195);
    
  }
  
  .stars:hover, .highlight {
    color: orange;
  }
  

  /* ////////// */
  