<section style="margin-left: 60px;">
<h1 style="font-weight: bold;margin-bottom: 60px;">Student feedback </h1>

<div style="display: flex;">

     <div class="star-ratings"  >
    <div style="font-size: 80px; color: orange; margin-bottom: 20px;margin-top: 10px;" >{{courseRating}} </div>
    @for(star of getStarArray(courseRating);track $index){
    <span >
        <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
    </span>
    }

    <div style="font-size: small; color: orange;">Course Rating</div>
</div>

<section style="margin-left: 50px; margin-top: 30px;">
    <!-- review.component.html -->
    <div class="stars" (click)="setRating(1)" [ngClass]="{'highlight': selectedRating >= 1}">★</div>
    <div class="stars" (click)="setRating(2)" [ngClass]="{'highlight': selectedRating >= 2}">★</div>
<div class="stars" (click)="setRating(3)" [ngClass]="{'highlight': selectedRating >= 3}">★</div>
<div class="stars" (click)="setRating(4)" [ngClass]="{'highlight': selectedRating >= 4}">★</div>
<div class="stars" (click)="setRating(5)" [ngClass]="{'highlight': selectedRating >= 5}">★</div>
</section>
</div>




<h1 style="font-weight: bold;margin-top: 80px;">Reviews</h1>

<div *ngFor="let review of reviews">
    <div class="mt" style="display: flex; margin:30px; width: 750px;">
        <div>
            <img src={{review.img}}>
        </div>
        <div class="two">
            <div style="display: flex;  justify-content:space-between;">
                <h4 style="margin-bottom: 0px;font-weight: bold; ">{{ review.PersonName }}
                </h4>
            </div>
            <div style="display: flex; width: 200px;" >
                <div class="star-ratings"  >
                    @for(star of getStarArray(review.rate);track $index){
                    <span>
                        <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
                    </span>
                    }
               
                </div>  <div>{{ currentDate | date }}</div>

            </div>

            <p>{{review.content}} </p>


        </div>
    </div>
</div>


  




</section>

<!-- reviews.component.html -->
<h2>Write your review:</h2>
<!-- Optionally, display the user's name if it's not pre-populated -->
<div>
  <input type="text" placeholder="Your Name" [(ngModel)]="newReview.PersonName">
</div>

<div>
  <textarea placeholder="Write your review..." [(ngModel)]="newReview.content"></textarea>
</div>
<button (click)="addReview()">Submit Review</button>

<h2>Reviews:</h2>
<div *ngFor="let review of reviews">
  <div class="mt" style="display: flex; margin:30px; width: 750px;">
    <div>
      <img [src]="review.img">
    </div>
    <div class="two">
      <div style="display: flex;  justify-content:space-between;">
        <h4 style="margin-bottom: 0px;font-weight: bold;">{{ review.PersonName }}</h4>
        <div>{{ currentDate | date }}</div>

      </div>
      <div class="star-ratings">
        <span *ngFor="let _ of getStarArray(review.rate)">
          <i class="fa fa-star"></i>
        </span>
      </div>
      <p>{{review.content}}</p>
    </div>
  </div>
</div>


