<section>
  <h1>What category best fits the knowledge you'll share?</h1>
  <p>If you're not sure about the right category, you can change it later.</p>
  <select>
    <option>Choose a Category</option>
    <option>Development</option>
    <option>Business</option>
    <option>Finance & Accounting</option>
    <option>It & Software</option>
    <option>Office Productivity</option>
    <option>Personal Development</option>
    <option>Design</option>
    <option>Marketing</option>
    <option>LifeStyle</option>
    <option>Photography & Video</option>
    <option>Health & Fitness</option>
    <option>Music</option>
    <option>Teaches & Academics</option>
    <option>I don't Know Yet</option>
  </select>
</section>
<div class="bt">
  <button class="pre" routerLink="/next2">Previous</button>
  <button id="continueButton" routerLink="/dashboard">Continue</button>

</div>
