/* question.component.css */
.question-container {
  margin-bottom: 10px;
}
.ask{
  width: 50px;
  height: 48px;
}
.input{
  height: 48px;
  width: 500px;

}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 80px;
}
.question:hover{
  background-color: rgb(239, 240, 241);
  cursor: pointer;
}

.question img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px;
  margin-left: 15px;
}

.question-content {
  flex-grow: .8; /* Allow content to expand */
}

.question button {
  margin-left: 10px;
}
.delete{
  background-color: crimson;
}