<!-- question.component.html -->
<section style="margin-left: 55px;">
<div class="question-container">
  <input class="input" type="text" [(ngModel)]="newQuestion" placeholder="Ask a question">
  <button class="ask" (click)="askQuestion()">Ask</button>
</div>

@if(questions.length > 0){
<div  >
  <h2 style="margin-top: 30px; font-weight: bold;"> All questions in this cours </h2>
  @for(question of questions; track $index ){
  <div  class="question">
    <img src={{question.personPictureUrl}} alt="Person's Picture">
    <div class="question-content">
      <p style="margin-bottom: 0px; font-weight: bold;">{{ question.personName }}</p>
      <p>{{ question.content }}</p>
    </div>
    <!-- <button class="delete" (click)="deleteQuestion($index)">Delete</button> -->
  </div>}
</div>
}
@else{
  <p>No questions available.</p>
}
</section>