
    <div id="header" class="d-flex align-items-center justify-content-between p-3 py-md-0 px-md-5" >

      <div class="col-1 col-md-auto d-block d-md-none">
        <!-- Hamburger menu icon (visible on small screens) -->
        <i class="fas fa-bars "(click)="toggleSidebar()"></i>
      </div>
      
        <!--Main logo of website-->
        <div class="row logo topBtn col-9 col-md-auto justify-content-center" (click)="logolink()">
          <div class="col-auto">
            <img
            src="https://i.ibb.co/QnJ7Bws/default-meta-image-v2-2-1-removebg-preview.png"
            alt="udemy"
            title="udemy logo"
            width="100px"
          />
        </div>
        </div>

        

      
        <div class="col-1 col-sm-auto text-right d-md-none text-end">
          <!-- Icons for search  -->
          <i class="fas fa-search"></i>
        </div>

        
        <div class="col-1 col-sm-auto text-right d-md-none text-end">
            <!-- Icons for  cart  -->
            <i class="fas fa-shopping-cart"></i>
          </div>

        <!--Main maineu of website-->
        <div class="dropdown d-none d-md-block">
            <button class="Catbtn dropdown-toggle" id="dropdownSec" data-mdb-toggle="dropdown" aria-expanded="false" routerLink="/category"><span>Categories</span></button>
            <div class="dropdown-menu double" aria-labelledby="dropdownSec">
              <div class="dropdown-section fsection">
                <ul>
                    @for(category of categories;track category.id){
                        @if(category.parentId == null){
                  <li class=""  (mouseover)="setActiveCategory(category)" ><a class="CatAnch" href="#" [ngClass]="{ 'active': activeCategory==category }">{{category.name}}</a></li>
                }
                }
          
                </ul>
              </div>
              <div class="dropdown-section with-hover secsection">
                <ul>
                    @for(sub of subcategories;track subcategories.id){
                        @if(sub.parentId == activeCategory.id){

                  <li class="" (mouseover)="setActiveSubCategory(sub)" ><a href="#">{{sub.name}}</a></li>
                          }
                        }
                </ul>
                <div class="dropdown-section third-dropdown thdsection">
                    
                  <ul>
                    @for(topic of topics;track topic.id){
                        @if(topic.parentId == activeSubCategory.id){

                  <li class=""  ><a href="#">{{topic.name}}</a></li>
                          }
                        }
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          
          
      
      



        <!--search bar of website-->
        <div class="search-box d-none d-md-block col-md-3 col-lg-4 col-xl-5" >

          <form class="search-container">
            
            <input
              type="text"
              id="search-bar"
              placeholder="Search for anything"
            />
              <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>

         <!-- udemy Business -->
         <!-- <div class="Bcm-instructor-btn topBtn d-none d-lg-block" element-to-hide-in-sm>Udemy Business</div> -->
         <div class="dropdownC d-none d-lg-block">
            <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
                Udemy Business
            </button>
            <div class="dropdown-content" aria-labelledby="dropdownCard">
                <div class="dropdown-card">
                    <div class="text-btn">
                    Get your team access to over 25,000 top Udemy courses, anytime, anywhere.
                </div>
                    <button class="header-black-btn bisns-btn">Try Udemy Business</button>
                </div>
            </div>
        </div>
                
    
                     

        <!--Become An instructor button-->
        <div class="dropdownC d-none d-lg-block ">
            <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
                Teach on Udemy
            </button>
            <div class="dropdown-content" aria-labelledby="dropdownCard">
                <div class="dropdown-card">
                    <div class="text-btn">
                    Turn what you know into an opportunity and reach millions around the world.
                </div>
                    <button class="header-black-btn bisns-btn">Learn More</button>
                </div>
            </div>
        </div>

      
        


      @if(signedin == true){

        <!--Wishlist Button-->
        <div class="dropdownC d-none d-md-block">
          <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
            <i class="fa-regular fa-heart"></i>
          </button>
          <div class="dropdown-content" aria-labelledby="dropdownCard">
              <div class="dropdown-card dropdown-card-courses">
                @if(Wishlist.length == 0){
                <div class="empty-list">
                  <div class="text-btn text-empty">
                    Your wishlist is empty.                
                  </div>
                  
                  <button class="bisns-btn header-cart-keep-shopping-btn">Explore courses</button>
                </div>
                }
                @else {

                  @for(course of Wishlist.slice(0,3);track course.id){
                    <div class="item-in-wishlist">
                    <div class="course-card wishlist-card">
                      <div class="course-img">
                      <img src="https://www.treeguideuk.co.uk/wp-content/uploads/2021/07/cedar-of-lebanon-1-273x300.jpg" alt="Course Image">
                    </div>
                    
                      <div class="course-details">
                        <p>{{course.name}}</p>
                        <p class="ins-font">{{course.instructor}}</p>
                        <p class="price-font">${{course.price}}</p>
                      </div>
                    </div>

                      <div class="wishlist-btn">
                      <button class="header-white-btn bisns-btn">Add to cart</button>
                    </div>
                    </div>

                  }

                }
                

              </div>
          </div>
      </div>

      <!--Shopping cart button-->

      <div class="dropdownC d-none d-md-block">
        <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="alert alert-cart">+5</div>
        </button>
        <div class="dropdown-content" aria-labelledby="dropdownCard">
            <div class="dropdown-card dropdown-card-courses">
              @if(Cart.length == 0){
                <div class="empty-list">
                <div class="text-btn text-empty">
                Your Cart is Empty.                
                </div>
                <button class="bisns-btn header-cart-keep-shopping-btn">Keep shopping</button>
                </div>
              }
              @else{
                @for(course of Cart.slice(0,3);track course.id){
                <div class="course-card">
                  <div class="course-img">
                  <img src="https://www.treeguideuk.co.uk/wp-content/uploads/2021/07/cedar-of-lebanon-1-273x300.jpg" alt="Course Image">
                </div>
                  <div class="course-details">
                    <p>{{course.name}}</p>
                    <p class="ins-font">{{course.instructor}}</p>
                    <p class="price-font">${{course.price}}</p>
                  </div>
                </div>
               
              }
              <div class="GoToCart-btn">
              <div class="total-price-cart">Total : $ {{CartTotalPrice}} </div>
              <button class="header-black-btn bisns-btn">Go to cart</button>
            </div>
            }
            </div>
        </div>
    </div>

    <!--Notification button-->

    <div class="dropdownC d-none d-md-block">
      <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
        <i class="fa-regular fa-bell"></i>
        <div class="alert alert-solid alert-notification"></div>

      </button>
      <div class="dropdown-content" aria-labelledby="dropdownCard">
          <div class="dropdown-card dropdown-card-nots">
            
            <div class="notif-header">
              <h5>Notifications</h5>
              <a>setting</a>
            </div>
            @if(Note.length == 0){

              <div class="text-btn text-empty">
              No notifications.                
              </div>
            }
            @else {
              @for(n of Note.slice(0,5);track n.id){
                <div class="note-list">
                  <div class="note-content">
                      <p>{{n.content}}</p>
                  </div>
                  <div class="note-date">
                      <p>{{n.date}}</p>
                  </div>
              </div>

              }
<div class="see-all-btn">
              <button class="header-white-btn bisns-btn">See All</button>
            </div>
            }
          
            </div>
      </div>
  </div>

   <!--Profile button-->

   <div class="dropdownC d-none d-md-block">
    <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
      <div class="circle">
        <span class="initials">AB</span>
      </div>    
      <div class="alert alert-solid"></div>

    </button>
    <div class="dropdown-content" aria-labelledby="dropdownCard">
        <div class="dropdown-card">
            <div class="text-btn text-empty">
            Your Cart is Empty.                
            </div>
            <button class="bisns-btn header-cart-keep-shopping-btn">Keep shopping</button>
        </div>
    </div>
</div>
      }
      @else{

        <!--Shopping cart button-->

        <div class="dropdownC d-none d-md-block">
          <button class="Catbtn dropdown-toggle" id="dropdownCard" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <div class="dropdown-content" aria-labelledby="dropdownCard">
              <div class="dropdown-card">
                  <div class="text-btn text-empty">
                  Your Cart is Empty.                
                  </div>
                  <button class="bisns-btn header-cart-keep-shopping-btn">Keep shopping</button>
              </div>
          </div>
      </div>
        <!-- log in  -->
        <div class="header-white-btn d-none d-md-block" routerLink="/login" >Log in</div>

        
      
        <!-- sign Up  -->
        <div class="header-black-btn d-none d-md-block" routerLink="/signup">Sign up</div>

      }
      </div>

      <div class="sidebar" [ngClass]="{ 'active': isSidebarOpen }">
        <div class="close-btn" (click)="toggleSidebar()" [ngClass]="{ 'active': isSidebarOpen }">
            <i class="fas fa-times"></i>
          </div>
        <div class="py-1"><a>Log in</a></div>
        <div class="py-1"><a>Sign in</a></div>
        
        </div>