.fa-star {
    color: gold; /* Color of full stars */
  }

  .total{
    display: flex;
    margin-top: 30px;
    width:100%
  }
  img{
    margin-right: 15px;
    width: 85%;
    height: 84%;
  }
 .two{
  font-size: small;
  width:100%
 }