<div class="total" *ngFor="let course of courses">
    <div>
        <img src="https://i.pinimg.com/564x/79/2a/80/792a808b9b5caae17aa382fc080c469d.jpg">
    </div>
    <div class="two">
        <div style="display: flex;  justify-content:space-between;">
    <h4 style="margin-bottom: 0px;margin-top: 0px;margin-right: 100px;">{{ course.name }}</h4>  <h4 >E{{course.price |currency:"EUR"}}</h4>
    </div><p style="margin-bottom: 0px;">{{ course.disc }}</p>
    <p style="margin-bottom: 0px;"> {{ course.instructor }}</p>
    <div class="star-ratings-css">
        <div class="star-ratings" [style.width]="(course.rating / 5) * 100 + '%'">
            <span><b>{{ course.rating }} </b> </span>
    @for(star of getStarArray(course.rating);track $index){
    <span>
        <i class="fa fa-star" [ngClass]="{'half-star': star >= 0.5}"></i>
    </span> 
}</div>
    </div>
    
    <p>{{course.totalHour}} total Hour {{ course.totallectuer }} Lecture </p>
 
   
  </div>
  <hr>
</div>
<hr>



<mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" (page)="onPageChange($event)">
</mat-paginator>