.photo{
  display: flex;
  margin-left: 130px;
  justify-content: center;
  margin-left: 500px;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px;
}
.right{
  margin-left: 50px;
  margin-top: 40px;
  display: flex;

}
h5{
  font-size: 30px;
  font-weight: bold;
}

hr{
  width: 40%;
  margin-left: 520px;
}
h3{
  margin-left: 150px;
  margin-top: 20px;
}
.fa-star {
  color: gold;
  /* Color of full stars */
}

.half-star::before {
  content: '\f089';

  font-family: 'FontAwesome';

}
.inst{
  font-size: 20px;
}
h1{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
.del{
  margin-right: 20px;
  background-color: red;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border: none;
}
.up{
  margin-right: 20px;
  background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border: none;
}
