<section class="one">
  <div class="cont">
    <p>Jump Into Course Creation</p>
    <button class="btn" routerLink="/instructor-courses">My Courses</button>
    <button class="btn" routerLink="/next1">Create Your Couese</button>
  </div>
</section>
<p style="text-align: center;margin-top: 80px;">Based on your experience, we think these resources will be helpful.</p>
<section class="two">
  <div class="cont">
    <div>
      <img id="img" src="\assets\support\engaging-course.jpg"/>
    </div>
    <div>
      <h1>Create an Engaging Course</h1>
      <p>Whether you've been teaching for years or are teaching for the first time, you can<br> make an engaging course. We've compiled resources and best practices to help you <br>get to the next level, no matter where you're starting.</p>
      <a href="">Get Started</a>
    </div>
  </div>
</section>
<section style="display: flex;">
  <div class="left">
    <div>
      <img id="im" src="\assets\support\video-creation.jpg"/>
    </div>
    <div style="margin-left: 40px;">
      <h1>Get Started with Video</h1>
      <p>Quality video lectures can set your course apart. Use our resources to learn the basics.</p>
      <a href="">Get Started</a>
    </div>
  </div>
  <div class="right">
    <div>
      <img id="im" src="\assets\support\build-audience.jpg"/>
    </div>
    <div style="margin-left: 40px;">
      <h1>Build Your Audience</h1>
      <p>Set your course up for success by building your audience.</p>
      <a href="">Get Started</a>
    </div>
  </div>
</section>
<section class="two">
  <div class="cont">
    <div>
      <img id="img" src="\assets\support\newcomer-challenge.jpg"/>
    </div>
    <div>
      <h1>Join the New Instructor Challenge!</h1>
      <p>Get exclusive tips and resources designed to help you launch your first course <br>faster! Eligible instructors who publish their first course on time will receive a special<br> bonus to celebrate. Start today!</p>
      <a href="">Get Started</a>
    </div>
  </div>
</section>
<p style="text-align: center;margin-top: 80px;">Have questions? Here are our most popular instructor resources.</p>
<div style="margin-left: 150px;margin-top: 70px;">
<table style="width: 1200px;text-align: center;">
  <td >
    <tr><img src="\assets\Teach\a.jpeg"/></tr>
    <tr><a href="">Test Video </a></tr>
    <tr>Send us a sample video and get expert feedback.</tr>
  </td>
  <td>
    <tr><img src="\assets\Teach\b.jpeg"/></tr>
    <tr><a href="">Instructor Community</a></tr>
    <tr>Connect with experienced instructors. Ask questions, browse discussions, and more.</tr>
  </td>
  <td>
    <tr><img src="\assets\Teach\c (2).jpeg"/></tr>
    <tr><a href="">Teaching Center</a></tr>
    <tr>Learn about best practices for teaching on Udemy.</tr>
  </td>
  <td>
    <tr><img src="\assets\Teach\d (2).jpeg"/></tr>
    <tr><a href="">Marketplace Insights</a></tr>
    <tr>Validate your course topic by exploring our marketplace supply and demand.</tr>
  </td>
  <td class="td">
    <tr><img src="\assets\Teach\e.jpeg"/></tr>
    <tr><a href="">Help and Support</a></tr>
    <tr>Browse our Help Center or contact our support team.</tr>
  </td>
</table>
</div>
<div style="text-align: center;margin-top: 80px;">
  <p>Are You Ready to Begin?</p>
  <button class="bt" routerLink="/next1">Create Your Course</button>
</div>

