
  <div class='login-cont'>
    <div class='step1'>Sign Up and Start Learning!</div>
    <form id='mainForm' (ngSubmit)="SignUp()">
      <label for='name'>Name</label>
      <input type='text' name='name' class='usermail' placeholder="Name" [(ngModel)]="name">

      <label for='Email'>Email</label>
      <input type='text' name='Email' class='usermail' placeholder="Email" [(ngModel)]="mail">

      <label for='password'>Password</label>
      <input type='password' name='password' class='pwdd' placeholder="Password" [(ngModel)]="password">


      <button type="submit" class='newlogclass blueBtn'>Sign up</button>

      <div class='tandc'>By signing up, you agree to our <span>Terms of Use</span> and <span>Privacy Policy.</span></div>
      <div class='exitto'>Already have an account?<span > Log In</span></div>
  </form>
</div>

