/* You can add global styles to this file, and also import other style files */
/* .p-carousel-container{
    padding: 1.5rem;
  } */

  
.p-carousel-header,.nav-tabs{
    margin: 0 77px 0 55px;
}
.p-carousel-prev, .p-carousel-next {

    background-color: transparent;
    border:none;
    height: 50px;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
    color: #343639;
}

.p-disabled{
    display: none;
}

.p-carousel-next{
    right: 27px;
}

.p-carousel-prev{
    left: 27px;
}

/* .p-disabled{
    opacity: 0.3;
} */

.fa-circle-chevron-right,
.fa-circle-chevron-left
{
    font-size: 2rem;
}
.p-element{
    max-width: 295.531px;
}

.p-tooltip {
    max-width: 20rem;
}


  


/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
