<div id="accordion" style="width: 50%; margin-left: 150px;" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0" style="display: flex;">
        <button style="font-weight: bold;" class="btn btn-link" (click)="toggleCollapse('collapseOne')" [attr.aria-expanded]="isExpanded('collapseOne')" aria-controls="collapseOne">
          Course content
        </button>
        <h6>4lectures .21min</h6>
      </h5>
    </div>
    <div id="collapseOne" [ngClass]="{ 'collapse': !isExpanded('collapseOne'), 'show': isExpanded('collapseOne') }" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div class="right">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Repeat for other accordion items -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapsetwo')" [attr.aria-expanded]="isExpanded('collapseTwo')" aria-controls="collapseTwo">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="collapseTwo" [ngClass]="{ 'collapse': !isExpanded('collapsetwo'), 'show': isExpanded('collapseTwo') }" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapsethree')" [attr.aria-expanded]="isExpanded('headingThree')" aria-controls="collapseThree">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="headingThree" [ngClass]="{ 'collapse': !isExpanded('collapsethree'), 'show': isExpanded('headingThree') }" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapsefour')" [attr.aria-expanded]="isExpanded('headingFour')" aria-controls="collapseFour">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="headingFour" [ngClass]="{ 'collapse': !isExpanded('collapsefour'), 'show': isExpanded('headingFour') }" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapsef')" [attr.aria-expanded]="isExpanded('headingFive')" aria-controls="collapseFive">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="headingFive" [ngClass]="{ 'collapse': !isExpanded('collapsef'), 'show': isExpanded('headingFive') }" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <div>
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapsesix')" [attr.aria-expanded]="isExpanded('headingSix')" aria-controls="collapseFive">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="headingSix" [ngClass]="{ 'collapse': !isExpanded('collapsesix'), 'show': isExpanded('headingSix') }" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapseseven')" [attr.aria-expanded]="isExpanded('collapseSeven')" aria-controls="collapseSeven">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="headingSeven" [ngClass]="{ 'collapse': !isExpanded('collapseseven'), 'show': isExpanded('collapseSeven') }" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-file"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading8">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapse8')" [attr.aria-expanded]="isExpanded('collapse8')" aria-controls="collapse8">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="collapse8" [ngClass]="{ 'collapse': !isExpanded('collapse8'), 'show': isExpanded('collapse8') }" aria-labelledby="heading8" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
          <div>
          <p><i class="fa-regular fa-circle-play"></i></p>
          </div>
          <div style="margin-left: 670px;">
            <p>00:40</p>
          </div>
          </div>
          <div class="dis">
            <div>
          <p><i class="fa-regular fa-file"></i></p>
            </div>
            <div style="margin-left: 670px;">
              <p>00:40</p>
            </div>
          </div>
          <div class="dis">
            <div>
          <p><i class="fa-regular fa-circle-play"></i></p>
            </div>
            <div style="margin-left: 670px;">
              <p>00:40</p>
            </div>
          </div>
          <div class="dis">
            <div>
          <p><i class="fa-regular fa-circle-play"></i></p>
            </div>
          <div style="margin-left: 670px;">
            <p>00:40</p>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading9">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="toggleCollapse('collapse9')" [attr.aria-expanded]="isExpanded('collapse9')" aria-controls="collapse9">
          Course content
        </button>
        <h6 class="h6">4lectures .21min</h6>
      </h5>
    </div>
    <div id="collapse9" [ngClass]="{ 'collapse': !isExpanded('collapse9'), 'show': isExpanded('collapse9') }" aria-labelledby="heading9" data-parent="#accordion">
      <div class="card-body">
        <div class="dis">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
        <div class="dis">
          <div>
        <p><i class="fa-regular fa-file"></i></p>
          </div>
          <div style="margin-left: 670px;">
            <p>00:40</p>
          </div>
        </div>
        <div class="dis">
          <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
          </div>
          <div style="margin-left: 670px;">
            <p>00:40</p>
          </div>
        </div>
        <div class="dis">
          <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
          </div>
        <div style="margin-left: 670px;">
          <p>00:40</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

