@for(item of sections;track $index){
<div id="accordion" style="width: 50%; margin-left: 150px;" >

  <div class="card">
    <div class="card-header" id="{{item.sectionName}}">
      <h5 class="mb-0" style="display: flex;">
        <button style="font-weight: bold;" class="btn btn-link" (click)="toggleCollapse(item.sectionName)" [attr.aria-expanded]="isExpanded(item.sectionName)" aria-controls="collapseOne">
          {{item.sectionName}}
        </button>
        <h6>{{item.totalLessons}}lectures .{{item.totalMinutes}}min</h6>
      </h5>
    </div>
    <div id="{{item.sectionName}}" [ngClass]="{ 'collapse': !isExpanded(item.sectionName), 'show': isExpanded(item.sectionName) }" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        @for(lesson of item.Lessons;track  $index){
        <div class="dis">
          <div style="display: flex;">
        <div>
        <p><i class="fa-regular fa-circle-play"></i></p>
        </div>
        <div>
          <p>{{lesson.LessonName}}</p>
        </div>
        </div>
        <div class="right">
          <p>{{lesson.lessonTimeInMinutes}}</p>
        </div>
        </div>
      }
      </div>
    </div>
  </div>

</div>
}
  